[2017-09-30 06:36] SangKa opened #1 "Any time plan for this new RxJS docs?"
Hi, @benlesh . Glad to know the plan for the new docs.
Does have any time plan for now? If has, please let me know :smile: , thx.

[2017-10-01 05:36] ladyleet commented on #1
@SangKa we are working on it - if you'd like to contribute please email me tracy@thisdot.co // @benlesh

[2017-10-01 05:52] inf3cti0n95 commented on #1
@ladyleet I am also planning on contributing to creating awesome docs

[2017-10-01 05:55] ladyleet commented on #1
@inf3cti0n95 okay please send me an email so i can add you to the meetings! :)

[2017-10-01 06:00] ladyleet opened #4 "Starting the RxJS docs initiative"
Hi everyone!

Here is an update -
- If you have emailed me (tracy@thisdot.co) about your desire to contribute, I have you on a list and will add you to meetings, etc. If you have not, then I have no way of communicating with you effectively. :)

## TODO

- [x] This repo was created (woot!)
- [x] Initial Angular site setup for the RxJS docs
- [x] Brian Troncone will be adding operator descriptions

[2017-10-01 06:02] ladyleet commented on #4
@tracyalison11 @rhgeek @btroncone FYI // @benlesh @kwonoj @jayphelps

[2017-10-01 06:04] ladyleet commented on #4
Feel free to comment on this with ideas/suggestions to enhance our docs initiative.

[2017-10-01 06:04] ladyleet commented on #4
@rhgeek @tracyallison11 feel free to document what you've been doing here or the plan to keep folks in the know of progress!

[2017-10-01 07:47] inf3cti0n95 commented on #1
@ladyleet Email Sent :)

[2017-10-01 07:48] feloy commented on #4
It would be interesting to configure server-side rendering, so one can get a static version of the documentation.

[2017-10-01 07:52] inf3cti0n95 commented on #4
@ladyleet How about A Progressive Web App?

People would be able to browse docs offline :), A Nice read while traveling

[2017-10-01 07:54] ladyleet commented on #4
@inf3cti0n95 that sounds like a great idea! optimizing for this and converting the site to that sounds perf.

[2017-10-01 07:54] ladyleet commented on #4
@feloy agreed! that would be lovely too! i love these ideas.

[2017-10-01 07:55] feloy commented on #4
What about creating a personalized Schematics collection so one can easily add a new rxjs operator?

ng generate rx-operator pluck

[2017-10-01 07:55] ladyleet commented on #4
@feloy that question will have to be bikeshedded by @benlesh and @kwonoj

[2017-10-01 11:20] btroncone commented on #4
@inf3cti0n95 I will convert to a PWA in an early PR. 👍🏻 @ladyleet

[2017-10-01 11:22] ladyleet commented on #4
@btroncone yeah baby!

[2017-10-01 11:35] inf3cti0n95 commented on #4
@btroncone I am in for PWA, I'll tag along 😉

[2017-10-01 21:48] #1 closed

[2017-10-02 01:40] ladyleet commented on #4
@feloy omg let's do this pls.

[2017-10-02 02:56] ladyleet commented on #4
@inf3cti0n95 https://github.com/ReactiveX/rxjs-docs/pull/5 PWA awesomeness from @btroncone

[2017-10-02 04:41] ladyleet opened #6 "Create individual issues to translate individual operators into Chinese"

[2017-10-02 04:43] ladyleet opened #7 "Create individual issues to translate individual operators into Spanish"

[2017-10-02 04:43] ladyleet opened #8 "Create individual issues to translate individual operators into Korean"
OMG @kwonoj !!!!!!!

[2017-10-02 04:44] kwonoj commented on #8
lollol :)

[2017-10-02 04:45] ladyleet opened #9 "Create individual issues to translate individual operators into French"
@manekinekko maybe you can help with this!

[2017-10-02 04:47] ladyleet opened #10 "Create a companies page"
[ ] Get approval for format of page
[ ] Design layout of page
[ ] Collect set of companies using RxJS
[ ] Create the ability for people to submit their company
[ ] Create the ability for approvals (is this just submitting a PR or should it be a form?
[ ] Finish creating the page!

[2017-10-02 04:48] ladyleet opened #11 "Create individual issues to translate individual operators into BAE-Lang"

[2017-10-02 04:48] ladyleet commented on #11
@jayphelps 👍

[2017-10-02 04:50] ladyleet commented on #4
just created a bunch of issues for translating the docs.

[2017-10-02 05:55] inf3cti0n95 opened #12 "Observables Visualizations - Porting RxViz"
We can have visualization of the Observables, something like [RxViz](https://github.com/moroshko/rxviz) for an interactive playground instead of putting just images for the Marble Diagrams

RxViz is built in ReactJS, maybe we could port it into Angular2.

Similar projects

- [RxViz](https://github.com/moroshko/rxviz)
-[RxMarbles](https://github.com/staltz/rxmarbles)

[2017-10-02 13:01] ladyleet commented on #12
@inf3cti0n95 yes this is the best idea ever! :)

[2017-10-02 13:05] RHGeek commented on #4
For creating issues related to the operators that need added, we've been compiling a list of what is missing. We'll then be adding issues for each of these, possibly multiple for the different pieces that are needed to fully document each (i.e. description, example...).

Here is the current working list

- Ajax
   - get
   - post
   - delete
   - put
   - patch
   - getJSON
- distinctUntilChanged

[2017-10-02 13:11] ladyleet commented on #4
@RHGeek That's what I'm 🌮 ing about! 🍕  create those issues when you can! :) 🍌  waiting for these docs forever! 💯

[2017-10-02 13:12] ladyleet commented on #12
@inf3cti0n95 chatting with Misha who wrote RxViz for this.

[2017-10-02 13:17] ladyleet opened #13 "RxMarbles integration"
Created based on suggestion in https://github.com/ReactiveX/rxjs-docs/issues/12 for visualization

[2017-10-02 13:18] ladyleet commented on #13
@staltz hey andre! have ideas on how we could integrate this, etc into the new docs? we are making plans to do so! would love help if you have time.

[2017-10-02 13:22] btroncone commented on #4
Any thoughts or ideas on the best way to maintain operator information? One of the things I like about GitBook is how easy it is for others to contribute by modifying the corresponding markdown file. How can we keep this simple for contributors to add or extend explanations and examples in the new docs?

[2017-10-02 13:37] ladyleet commented on #4
Hey @btroncone just to get things going - @benlesh and I talked about this - why don't we just create a service with the array of data that folks can update + abstract away the array by creating methods to call the data so we can change it later. Thoughts?

[2017-10-02 13:38] btroncone commented on #4
@ladyleet That works for me. 👍

[2017-10-02 13:49] ladyleet opened #14 "Design a teams page"
[ ] Design page for approval
[ ] Core team
[ ] Learning team

[2017-10-02 17:09] fredrik-lundin commented on #4
I'd love to contribute when you have more concrete issues ready to be worked on :)

[2017-10-02 18:01] ladyleet commented on #4
@fredrik-lundin actually Issue https://github.com/ReactiveX/rxjs-docs/issues/10 and Issue https://github.com/ReactiveX/rxjs-docs/issues/14 could be worked on now! :) If you're up for it!

[2017-10-02 18:16] feloy commented on #4
@ladyleet i've made 2 proposals yesterday about SSR and Schematics. But I'm not sure of the order of your replies...

[2017-10-02 18:17] ladyleet commented on #4
@feloy both sound like great ideas. :) feel free to take and implement! :) i esp love the idea of schematics.

[2017-10-02 18:17] ladyleet opened #15 "Create schematics for creating operators"
@feloy ^^

[2017-10-02 18:25] feloy commented on #15
I'll start to work on it as soon as the structure of the operators view is defined

[2017-10-02 18:27] ladyleet commented on #15
lovely! :)

[2017-10-02 18:57] manekinekko commented on #9
Sure. Can you assign it to me on github?

[2017-10-02 19:06] staltz commented on #13
Hi @ladyleet.
Actually on reactivex.io we already have rx marbles as web components, for instance http://reactivex.io/documentation/operators/map.html
That was possible due to this: https://github.com/staltz/rxmarbles/blob/e34558bf288ce57548ca8d8048ea6bdc040f3820/test-custom-element.html (nowadays outdated)

That said, I'd also like to include @philpl in this conversation, since he built https://g

[2017-10-02 19:22] philpl commented on #13
Hiya, I haven’t heard of this initiative either, but I’m pleasantly surprised of the effort to make RxJS even more accessible!

I also haven’t heard of RxViz before. It seems that it operates in real time only though, right? It’d be amazing if we could combine efforts to have RxViz display an editable “mock time” stream as well. I haven’t worked on my library a lot after using it for a talk, but i

[2017-10-02 19:39] ladyleet commented on #13
@staltz yes, we have been discussing during the core team meetings and offline - we just wanted to finally get things started since it's been a topic since contributor days at the beginning of the year about improving the docs. not sure if you had logged off during that time! happy to have any guidance on docs related to this. :) do let me know!

[2017-10-02 19:41] ladyleet commented on #13
@philpl hey phil! yes did we talk about this before? i'm pretty sure we did a few months back but i can't remember now. i think combining efforts would be really great. if you'd like to be included in the upcoming meeting, send me an email? tracy@thisdot.co

[2017-10-02 19:41] ladyleet commented on #13
@staltz i added you to the initial planning meeting btw! :) but most of the stuff we are planning is in here already issue https://github.com/ReactiveX/rxjs-docs/issues/4

[2017-10-02 19:43] ladyleet commented on #13
@staltz so, are you saying we use rxjs diagrams as well as rx marbles? or in lieu of?

[2017-10-02 19:47] ladyleet commented on #9
@manekinekko it's not letting me and i has no idea why. :(

[2017-10-02 19:48] ladyleet commented on #4
@RHGeek while y'all are doing that do you want to take the other issues related to translation? and generating issues for each individual operator there?

[2017-10-02 20:03] feloy commented on #4
@ladyleet when I work on SSR, I would be happy to work on a travisCI (or equivalent) config to automatically generate indexable pages  and deploy them on a website.
Have you already chosen a platform to deploy the website to?

[2017-10-02 20:10] ladyleet commented on #4
@feloy not yet :( @benlesh? Thoughts?

[2017-10-02 20:51] kwonoj commented on #4
@ladyleet @feloy I can enable travis, but not sure about auto-deploy at this moment. probably better to discuss separately (build / test on travis first, deploy as separate topic).

[2017-10-02 21:38] kwonoj commented on #9
@ladyleet only contributor (who have merge privilege) can be assigned into issues.

[2017-10-03 00:36] inf3cti0n95 commented on #12
@ladyleet Cool, I am looking into RxViz code in the meantime.

[2017-10-03 03:37] ladyleet commented on #4
@feloy we currently use github pages so will probably stay with that. thx for checking! travisCI would be perf. <3

[2017-10-03 03:38] ladyleet commented on #4
@kwonoj agreed OJ! thx for noticing and paying attention to the progress done here. :) // @feloy

[2017-10-03 03:39] kwonoj commented on #4
Let me try to enable travis tonight and will create separate issue for those.

[2017-10-03 03:40] ladyleet opened #17 "Create the main page of the site!"
Open to bikeshedding here.

[2017-10-03 03:41] ladyleet commented on #4
@kwonoj ok thx oj! :) // @feloy

[2017-10-03 03:58] kwonoj opened #18 "Introduce continuous integration"
We would like to introduce continuous integration for few purposes. As an initial step, it may need to include

- [ ] lint
- [ ] build
- [ ] test

mostly lint / build should be identical to what current RxJS repo does. For further we'd like to enable bot as well to check commit messages and etcs but that's separate story. (Personally, I'd like to have bot captures screenshot for PR and post it)

[2017-10-03 03:58] kwonoj commented on #18
/cc @ladyleet @feloy

[2017-10-03 03:58] kwonoj commented on #4
Related issue https://github.com/ReactiveX/rxjs-docs/issues/18 created, and travis is enabled for this repo.

[2017-10-03 06:31] fredrik-lundin commented on #14
How big are the core and learning teams (approximately)? Does it make sense to somehow split the screen either in two sub-pages or tabs. Or is the number of people small enough to fit on one screen (which usual is preferable if possible I guess).

Also, what kind of data do we want to present? Name, short bio, picture? Contact information?

[2017-10-03 06:40] ladyleet commented on #14
@fredrik-lundin pretty small! I would say 5-10 people max for each category? One screen is preferred. Name, Short Bio (2 sentences max), Picture, Twitter, Github, LinkedIn?

[2017-10-03 06:51] fredrik-lundin commented on #14
@ladyleet alright, great!

I'm a bit unsure if I'll have to time work on it this week, as I'll be traveling for a few days. If someone starts looking at this before I can get too it, I'll just try to tag along when I get back. If not, I'll start working on it hopefully next week 😄

[2017-10-03 06:54] ladyleet commented on #14
@fredrik-lundin for sure! i really appreciate you lending a hand! thank you so much in advance! :)

[2017-10-03 06:55] ladyleet opened #19 "Have a better readme.md"
Well, ours kind of sucks rn. Open to suggestions.

[2017-10-03 08:24] bhatiatanish commented on #19
I'd like to take up this issue. Can you assign it to me?

[2017-10-03 09:01] ladyleet commented on #19
hi @bhatiatanish we are not currently assigning folks to issues, but are accepting PRs! If anyone else is looking at this issue and would like to contribute, please coordinate with @bhatiatanish so y'all don't cross wires! :) 💯

[2017-10-03 11:02] staltz commented on #13
@ladyleet apparently both `rxjs-diagrams` and `rxmarbles` aren't in a production-ready state to be embeddable and usable within docs. It's not hard to fix the `rxmarbles` feature as a web component. I think the choice on which one depends on how many different operators can each render. The more challenging operators to render are concatAll, mergeMap/switchMap, groupBy, and some odd ones like `do`

[2017-10-03 11:11] ladyleet commented on #13
@staltz love! Thanks for taking some time to think through this. Do you want me to create an issue or... and do you want someone else to help with this or might you have time? What do you think of having this as a separate route? Also @manekinekko I know has experience in web components use in angular so woot!

[2017-10-03 12:10] staltz commented on #13
Hi Tracy, I probably don't have the time, but I can help review and merge a PR. It's mostly about restoring [this functionality](https://github.com/staltz/rxmarbles/blob/ee2051abe7cf36c141977d7d7c9887243d8ea356/src/element.js) (a small file) that was lost when the codebase was updated to RxJS v5, and probably also updating the Web Component spec to WC v1, using the right polyfills too.

[2017-10-03 14:16] philpl commented on #13
@ladyleet hiya, I don’t think we’ve met in person yet actually 🤔 I hope we can meet one day though

I’m currently a bit swamped with OSS work but I’d be happy to assist here. AFAIK the rxjs-diagrams Core Code to make the simulated streams work is still in good shape and should support all operators except of course demoing do and observeOn etc

I’d be happy to be involved, since I’ve gotten some i

[2017-10-03 15:40] kwonoj commented on #8
I'll try to ask few ppls around also if there's any interested one.

[2017-10-04 14:52] manekinekko commented on #13
@ladyleet I'll be glad to help or collaborate on this. Lmk.

[2017-10-04 19:40] jayphelps commented on #11
lolwut

[2017-10-04 21:02] btroncone commented on #4
Just a quick update, I'm working on operator UI right now. I hope to have a first version available with at least a sample of operators to poke around with by the end of this weekend or early next week. I'll post as soon as it's available. 👍

[2017-10-04 21:06] kwonoj opened #22 "Commit conventions for changelog"
RxJS core uses conventional commit for auto-changelog-generate (https://github.com/ReactiveX/rxjs/blob/master/package.json#L84) maybe worth to follow same practices by having git hooks / ci validation. Just opinion to discuss.

[2017-10-05 00:13] ladyleet commented on #4
@btroncone awessome!

[2017-10-05 00:45] ladyleet commented on #13
@manekinekko cool! I think maybe just creating a separate route and then integrating rxmarbles would be really awesome.  And maybe seeking help from @staltz  as questions arise? Happy to get you the help you need and assist during the process as much as possible so that we can actually get this integrated :-)

[2017-10-05 03:15] inf3cti0n95 commented on #13
@ladyleet @manekinekko Count me in for this ! LMK what I can help with

[2017-10-05 06:08] ladyleet opened #23 "Add rx fiddle.com into the docs"
👍

[2017-10-05 06:31] kwonoj commented on #18
this this issue can be closed via #21. Further improvement can be made separately.

[2017-10-05 06:31] #18 closed

[2017-10-05 16:23] xtianjohns commented on #4
Hey @ladyleet do you know how/if we currently track docs usage? Is there any interest in tracking which operators get the most traffic, or monitoring how users will interact with the new docs?

[2017-10-05 19:42] ladyleet commented on #4
@xtianjohns sure that'd be so cool!

[2017-10-05 20:57] ladyleet opened #24 "INTERESTED PEOPLE - SAY HI IN COMMENTS!"
Hey all! Say hi if you're interested in contributing! :) Happy to help you get involved! :) Feel free to email me anytime too tracy@thisdot.co

[2017-10-05 20:57] ladyleet commented on #24
@necoline hi! :)

[2017-10-05 20:59] ladyleet commented on #12
@inf3cti0n95 Misha does not have time to do the integration, but he's happy to help anyone who wants to help with this. So, green light for anyone! :)

[2017-10-05 21:03] ladyleet commented on #24
@donaldsonjulia hi!

[2017-10-05 21:04] necoline commented on #24
Hey team!
I'll be around to help on various issues and collaborate on PRs.
Looking forward to meeting you all

[2017-10-05 21:12] donaldsonjulia commented on #24
hi all!

[2017-10-06 10:00] Lakston commented on #24
Hi, I could help with those French Translations as a starting point :)

[2017-10-06 10:18] Lakston commented on #9
Can I help with this ? Is there an issue or a place I can refer to so I have a better idea of what has to be done ?

[2017-10-06 13:30] ashwin-sureshkumar opened #25 "Compilation failures due to deprecation of md prefix in angular material"
Angular Material has deprecated `md` prefix and `mat` has to be used. Since our package versions are not locked, the current app compilation fails.

![screen shot 2017-10-06 at 9 17 04 am](https://user-images.githubusercontent.com/4744080/31280005-f598d152-aa78-11e7-96b0-659eaa8b1607.png)

[2017-10-06 14:10] ladyleet commented on #24
@lakston please do!

[2017-10-06 14:11] ladyleet commented on #9
Yes @rhgeek @btroncone thoughts?

[2017-10-07 03:54] Only1MrAnderson opened #27 "Lazy Loading"
Configure the application for lazy loading.

[2017-10-07 04:19] BeastCode commented on #24
Hi Everyone!

[2017-10-07 09:34] SangKa commented on #6
Hi, @ladyleet :)
I will take this.

[2017-10-07 10:10] ladyleet commented on #24
hey @BeastCode! :)

[2017-10-07 10:22] SangKa commented on #24
Hey all!
I want to bring the Chinese Docs to the Rx fans in China.

[2017-10-07 10:57] ladyleet commented on #6
@SangKa love that! when @btroncone has all the operators, then maybe you can start! :) @rhgeek is working on something to create a ton of issues so maybe we go from there or can get his guidance?

[2017-10-07 11:02] ladyleet opened #29 "How do we deal with translations?"
I've been thinking about this and I actually like the way Vue does this best.

Check out the screenshot.

<img width="1185" alt="screenshot 2017-10-07 04 01 26" src="https://user-images.githubusercontent.com/8270563/31307221-46858b8c-ab14-11e7-9d3c-b775427bede4.png">

[2017-10-07 15:58] LimarenkoDenis commented on #24
Hi) I could help with Russian translation if needed

[2017-10-07 18:21] btroncone commented on #6
I'm finishing up initial UI for operator section now then I will start filling in documentation for each. I'll go ahead and submit a PR when I have about 10 complete then every 5 or so after that so translations can be done as we go. 👍🏻

[2017-10-07 20:12] #25 closed

[2017-10-07 20:16] acidsound commented on #8
👍

[2017-10-07 22:48] jonguk0114 commented on #8
I am interested in this translation!

[2017-10-08 00:35] sculove commented on #8
Good

[2017-10-08 00:39] sculove commented on #24
hi. I could help with Korean translation

[2017-10-08 00:42] jonguk0114 commented on #24
hi I could help with Korean translation

[2017-10-08 00:44] ladyleet commented on #24
Oh man squadding so hard on Korean translations! Love!

[2017-10-08 00:44] ladyleet commented on #24
@limarenkodenis what is ngx translate?

[2017-10-08 01:09] LimarenkoDenis commented on #24
@ladyleet, I meant this https://github.com/ngx-translate/core
this is also related to this issue #29

[2017-10-08 01:46] RHGeek commented on #4
@ladyleet sorry for the delay in getting back, but yeah, we can add translation related issues to go with all the new operators. I will search to see what issues are created for particular languages (I've seen you tag me in some), but we can also identify any more that we want to proactively.

[2017-10-08 01:55] sculove commented on #29
We need an i18n development environment.
Angular provides i18n. https://angular.io/guide/i18n
There is also a library like ngx-translate. http://www.ngx-translate.com/

The way angular guides is actually cumbersome.
I don't know what actually would be good.
Do you have any idea?

[2017-10-08 04:12] SangKa commented on #6
@ladyleet What a coincidence!
I had translated the [learn-rxjs](https://github.com/btroncone/learn-rxjs) by @btroncone  before.
Hi, @btroncone , that's a truly good job and I love your example.

[2017-10-08 04:20] SangKa commented on #29
Vue use different sites for each language.
Maybe we can use the experience of what facebook does, just like jest or react.
Can check [this page](http://facebook.github.io/jest/), they use the [crowdin](https://crowdin.com/project/jest) for i8in.

[2017-10-08 04:43] sculove commented on #29
@SangKa the crowdin is good.
I tried a different idea.
a crowdin and google translate provide `xliff` format.
I think If we use Google Translate API, we can easily create a document draft for each language.

I found this issue.
https://github.com/angular/angular/issues/14145

[2017-10-08 10:06] jonguk0114 commented on #29
I have not used translation tools or platforms but  just took a look at [crowdin](https://crowdin.com).

Crowdin provides multiple translators with features for collaboration such as discussion, voting, adding terms for translation from original language to translated language, suggestion, and etc.

I believe that crowdin is helpful to complete consistent translation by discussing or voting about

[2017-10-08 13:46] Lakston commented on #29
I use ngx-translate at work and it's working really well for us, we have one json file per language and use for example `{{ 'OPERATORS.GROUPED_OBSERVABLE.FORKJOIN.whatever_par_of_the_page | translate }}`

We would have to structure it really well so it doesn't become a mess after a while, separating each page in manageable chunks that are properly named could be quite long to do.

[2017-10-09 12:25] ladyleet commented on #29
Hey all! :) Thanks for all the conversation around this!

I was talking to Rahul from the Vue core team about their docs since I like those best from an accessibility standpoint.

@chrisvfritz it would actually be super helpful to get your opinion on the docs and how we should best approach this.

@SangKa great to hear you have translated @btroncone's already! That will give us a very good head st

[2017-10-09 12:42] ladyleet commented on #4
translations - we are bikeshedding here https://github.com/ReactiveX/rxjs-docs/issues/29

[2017-10-09 12:43] ladyleet commented on #6
For those interested we are bikeshedding on overall translation strategy here. https://github.com/ReactiveX/rxjs-docs/issues/29

[2017-10-09 12:44] ladyleet commented on #24
@LimarenkoDenis we are bikeshedding on this here For those interested we are bikeshedding on overall translation strategy here. https://github.com/ReactiveX/rxjs-docs/issues/29

[2017-10-09 12:45] ladyleet commented on #29
so, i literally have *no* idea how to start with translations except for the idea that it *seems* like we need both NGX Translate AND something like Git Localize. Is this the case? :D

[2017-10-09 13:04] znck commented on #29
Adding @kazupon & @phanan to the thread.

[2017-10-09 13:09] phanan commented on #29
Below is our current flow for translating vuejs.org to [the Vietnamese version](https://vi.vuejs.org). We've just started, so the flow is very open to changes/suggestions and in no way the most optimized. Also, again since we're at the beginning of the translation process, our current focus is for the _untranslated documents_, which is a decisive factor for the flow. Anyway:

*

[2017-10-09 13:16] phanan commented on #29
Thanks for the mention @znck.

Below is our current flow for translating vuejs.org to the Vietnamese version. We've just started, so the flow is very open to changes/suggestions and in no way the most optimized. Also, again since we're at the beginning of the translation process, our current focus is for the untranslated documents, which is a decisive factor for the flow. Anyway:

* The [i18n repo

[2017-10-09 13:17] ladyleet commented on #29
Does someone want to champion our process for the translations in Rx? We def need a champion who will orchestrate the process but obviously requires some man hours. :)

[2017-10-09 13:57] LimarenkoDenis opened #31 "translate individual operators to Russian"

[2017-10-09 14:04] ladyleet opened #32 "Learning team meeting notes"
https://github.com/emberjs/core-notes - chatting with @mattpodwysocki and @benlesh about a repo for all core notes in the reactivex project, not just the docs. also, this would be good for the rxjs core notes.

[2017-10-09 14:28] ladyleet commented on #12
Y'all, @moroshko said he'd help with this for anyone who is interested. So feel free to reach out to him! :)

[2017-10-09 14:35] kwonoj commented on #32
I think we can just use https://github.com/ReactiveX/rxjs-core-notes? Creating new folder for docs.

[2017-10-09 14:38] ladyleet commented on #32
@kwonoj thanks! @mattpodwysocki disregard my request then. :)

[2017-10-09 15:26] kazupon commented on #29
@znck Thank you for your mention. 😺

I'm translating Vue.js documents together with Vue.js Japan :jp: users  daily for Japanese to maintain the quality of translation.

From the experience of the translation work, I recommend using translation services like crowdin and gitlocalize. It's very difficult to track the diff of original document with human eyes 👀 .

I don't know crowdin due to not used

[2017-10-09 15:43] ladyleet commented on #29
thank you @kazupon! again, anyone who is interested in helping drive the complete initiative let me know.

[2017-10-09 16:09] #32 closed

[2017-10-09 17:11] chrisvfritz commented on #29
One other note: for documentation that's frequently updating and translated to many languages like the Vue core docs, having separate repos for each translation is very useful. If we had everything under a single repo, maintainers would have to ignore most PRs because they'd be unrelated to the source material.

[2017-10-09 17:12] ladyleet commented on #29
@chrisvfritz that is super useful feedback chris. thanks!

[2017-10-09 21:31] kwonoj commented on #29
So there seems few things we need to figure out (from contents logistics to actual impl) - let's try to list them and separate as each issue to track. I'll try to update them shortly.

[2017-10-09 22:47] xtianjohns commented on #13
@ladyleet I have a local version of `RxMarbles` custom elements working with [newest Web Component spec](https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/define) and [this polyfill](https://github.com/webcomponents/custom-elements/blob/master/src/native-shim.js). I can have a PR submitted to RxMarbles this week. @staltz, should I open up an issue in that repo?

That doesn't m

[2017-10-09 23:46] Only1MrAnderson commented on #10
@ladyleet I am looking at implementing this. Are you looking for some mockups before development work is started? Also, any thoughts on using firebase to store the list? Maybe overkill?

[2017-10-10 00:21] sotayamashita commented on #29
@ladyleet

Hi, I am an engineer for [GitLocalize](https://gitlocalize.com/). Please feel free to ask me if you have any questions. I also have translated docs ever. I can help you even though you would not use GitLocalize. Thanks :bow:

[2017-10-10 00:37] kwonoj commented on #29
@sotayamashita cool, let me peek those into too!

[2017-10-10 02:19] ladyleet commented on #10
@only1mranderson  nothing has actually been started yet so yes maybe some mock up would be really good. I think initially we would like to just get companies on a page, however I think it would be really nice at some point in time for companies to be able to submit their logos and websites and have that list grow. Or maybe it's just a  Company list who knows. Open to ideas :-)

[2017-10-10 02:25] Only1MrAnderson commented on #10
@ladyleet . I am thinking Material 2 table with Ngrx (good example of what Rxjs can do :) ) and hook that into firebase at the end. I will work on some mockups

[2017-10-10 02:27] ladyleet commented on #10
Lovely!

[2017-10-10 07:06] staltz commented on #13
@xtianjohns that would be great, thanks for the initiative!

[2017-10-10 09:52] manekinekko commented on #13
@xtianjohns Awesome! Could you provide a link to your repo?

[2017-10-10 10:20] Lakston commented on #29
Gitlocalize looks pretty awesome but reading [the docs](https://docs.gitlocalize.com/file_formats.html) it only deals with `.md` and static `.html` files.

Digging into [ssr.vuejs.org](https://ssr.vuejs.org/) they seems to be using [GitBook](https://www.gitbook.com/) + [GitLocalize](https://gitlocalize.com/) and it looks easy to maintain and manage.

I use ngx-translate every day but for this proj

[2017-10-10 18:54] sotayamashita commented on #29
@Lakston

I appreciate you check our product out. What kind of would like to use?

If you have question, please feel free to ask me via here or [@sota0805](https://twitter.com/sota0805).

[2017-10-11 14:55] ladyleet opened #33 "Create a getting started guide for using RxJS"

[2017-10-11 17:28] xtianjohns commented on #13
I've opened an [issue](https://github.com/staltz/rxmarbles/issues/48), and PR is [here](https://github.com/staltz/rxmarbles/pull/49), @manekinekko.

[2017-10-11 18:35] kwonoj commented on #29
note purpose: https://pontoon.mozilla.org/

[2017-10-11 19:58] ladyleet opened #35 "Extracting docs from source code"
Take TS files and convert them into ASTs.
Traverse ASTs to extract out documentation.

[2017-10-11 20:41] getDanArias commented on #24
Hello, team! I am Dan. Recently started my RxJS adventure by being exposed to the library through Todd Motto's amazing Angular course.

I will be happy to contribute on documentation. I can help with the Spanish translation as well! In fact, I was asked to hold a session on RxJS for a Spanish Dev Team haha! Pretty exciting!

Happy to be of any assistance!

[2017-10-11 20:48] sotayamashita commented on #29
@kwonoj

 I've never heard of it and it looks cool. I can improve GitLocalize based on pontoon. I am wondering how to store translation data.

[2017-10-11 20:57] kwonoj commented on #29
I'm not debating any particular at this moment, just left as memo that I don't forget. I think probably need to run couple of evalution to compare how those experiences are between way we listed here.

[2017-10-11 21:07] kwonoj opened #36 "Translation: tools, input organization"
I'm separating this topic out of https://github.com/ReactiveX/rxjs-docs/issues/29, cause this is most fundamental thing need to be set before actual work and most important thing for daily work as well.

#29 includes good initial ideas to discuss out

*organizing `source` of trasnlated document*
- [ ] put under current repo
- [ ] separate repo for each translation
- [ ] convert current one into mo

[2017-10-11 21:07] kwonoj commented on #36
/cc @ladyleet

[2017-10-11 21:08] kwonoj commented on #29
I'm making this is meta-issue to track general discussions, and created separate issue for discussing tool/pipeline at https://github.com/ReactiveX/rxjs-docs/issues/36 .

[2017-10-11 21:38] getDanArias commented on #29
I would like to put on the table [**transifex**](https://www.transifex.com) as an option for managing the translation process.

From their [site](https://docs.transifex.com/faq/all#what-is-considered-an-open-source-project):

Habitica, the game app, has been using it to great success for the world wide translation of their platform. The tracking system is outstanding!

Here's some information on t

[2017-10-11 21:39] kwonoj commented on #29
@getDanArias added in #36.

[2017-10-11 21:42] kwonoj commented on #36
My point of interests are

- translation contributor need not know about things like cli, git, pr, etcs.
- translation material though, should be manageable via github repo.
- translation resources management should be easily doable (diff, tracking version, etcs) to orignal raw (English) material.
- some sort of programmatic interface allows auto publish / deploy documents.
- few other things I ha

[2017-10-12 00:53] lordKnighton commented on #24
Hi @ladyleet I'm 👀  https://github.com/ReactiveX/rxjs-docs/issues/10

[2017-10-12 00:58] lordKnighton commented on #19
I'll pitch in with this, when ever i get some time. Sounds fun 💯

[2017-10-12 10:52] arat3091 commented on #24
Hi All,
Working on creating the big platform for the energy companies. Working for Powerhouse !!
Can help with translations , setting up CI/CD for the project and the main documentation of operators

[2017-10-15 17:50] knittingcodemonkey commented on #24
Hey there! I'm looking into adding accessibility features to the docs.

[2017-10-15 21:36] fahad19 commented on #24
Hello everyone! I am from the core team of https://frint.js.org, which is a heavy user of RxJS.

Success of RxJS and the spread of knowledge of it is very important for our project too. And curious how we can help and contribute.

Cheers!

[2017-10-16 03:50] RHGeek commented on #4
I've added 3 issues as examples for how all the rest from the list can be added. Please let me know if these look ok, before the rest then get added. These would be the three "pieces" needed to complete the documentation for that operator.

https://github.com/ReactiveX/rxjs/issues/2939
https://github.com/ReactiveX/rxjs/issues/2940
https://github.com/ReactiveX/rxjs/issues/2941

[2017-10-16 04:09] ladyleet commented on #4
@rhgeek this is perfect thanks! :)

[2017-10-16 17:08] kwonoj commented on #4
Maybe better to create single issue for each operator, then list todo as checkboxes? (though not sure which'll be better, concerning numbers of issue might get exploded)

[2017-10-16 17:09] sheeldotme commented on #24
Hi all, I'm interested in contributing!
As amazing as a solution as RxJS can be, in many circles there's still a perception that it's too out of reach of the average developer, I'd like to help change that.

@ladyleet, I've sent an email, please let me know where I can help, what the process looks like, and the best way to get started!

[2017-10-16 17:14] ladyleet commented on #4
@kwonoj yeah but closing issues just feels so good and allows easy individual contributors to work through things easier IMO.

[2017-10-16 17:15] kwonoj commented on #4
@ladyleet yup, that's reason I'm not suggesting to do so at this moment. Have to see for few cycles to make decision.

[2017-10-16 17:39] RHGeek commented on #4
@kwonoj @ladyleet Yeah, that was the general idea, creating them separate to make it easier for people to contribute to a piece of the documentation. If they only feel comfortable with writing descriptions and maybe not examples, they can close that out and it might be less intimidating to contribute then if all 3 pieces were in one issue. If it does seem to be too much, we can consolidate them as

[2017-10-16 18:06] GustavoCostaW commented on #24
Hi there! :-)

[2017-10-16 18:13] GustavoCostaW commented on #4
The status in our meeting about the operators visualization, we have three options:

- rxviz
- rxmarbles
- rxfiddle

Which will we use?

[2017-10-16 18:14] #27 closed

[2017-10-16 18:16] hermanbanken commented on #23
rxfiddle*.net* 😉

It's very easy to integrate:
- go to https://rxfiddle.net/#type=editor
- type/past the code
- click run to verify the visualization is working
- copy the URL
- put the URL in an iframe 🖼
- :shipit:

[2017-10-16 18:18] ladyleet commented on #23
@hermanbanken can we somehow embed the entire project on a new route? @btroncone this solve any problem for you?

[2017-10-16 18:26] ashwin-sureshkumar opened #38 "Add search feature for documentation"
A feature to search the documentation site to quickly search and navigate to the desired section

[2017-10-16 18:27] ashwin-sureshkumar commented on #38
cc @ladyleet

[2017-10-16 18:28] staltz commented on #38
Algolia could help for this. https://community.algolia.com/docsearch/

[2017-10-16 18:31] btroncone commented on #23
It depends on whether we want to do an embed for each example, any thoughts on this?

[2017-10-16 18:34] hermanbanken commented on #23
RxFiddle makes most sense for some real world examples, so basically can replace any JSBin. But I could also make it so that it can be used ínside the JSBin result-view with a extra js-bundle + div to fill in.

[2017-10-16 18:37] ashwin-sureshkumar commented on #38
@staltz - That looks great ! @ladyleet - If we end up deciding on algolia, at some point we would register for this.

[2017-10-16 18:37] hermanbanken commented on #23
So RxFiddle can be shown in the docs in different ways / has many uses:
- awesome list: rxfiddle.net, standalone use
- use as plugin during debugging: [npmjs.org/packages/rxfiddle]
- use instead of JSBin: base64 encode code and include iframe to `https://rxfiddle.net/#type=editor&code=<base64>`
- use with JSBin: (TODO) reference JSBin + add bundle + some extra html
- ... more?

[2017-10-16 18:40] btroncone commented on #23
I like the idea of using for operator examples as replacement for JSBin. 👍

[2017-10-16 20:41] btroncone commented on #23
@hermanbanken Many of the current examples include some sort of dom interaction which appears isnt supported by RxFiddle, any thoughts on making this work?

[2017-10-16 21:55] arat3091 commented on #4
Guys i have a question. Cant we create the branch on github which i can checkout and do my work on it and then later create the pull request to merge to master. I see i do not have the permission to create the branch . How should we go about it ?

[2017-10-16 21:58] xtianjohns commented on #4
Hey @arat3091, you won't be able to create a branch in _this_ repository. However, you can fork this repository and create a branch in your fork. When you feel like your work is ready, you can submit your pull request from your fork into this repo. Make sense?

[2017-10-17 02:19] btroncone commented on #13
@xtianjohns Awesome work! I was able to get the rx-marbles web component integrated with the Angular app. @ladyleet

![Demo](https://i.imgur.com/2qwNXOx.gif)

[2017-10-17 06:47] fredrik-lundin commented on #14
@ladyleet hey, I finally got to start playing around a bit with this page. I noticed very quickly though that it's really hard since we don't have any design guidelines or basic  styling in place. That makes it very hard to style or design anything, since I feel like I might be completely misaligned with the rest of the people working on this.

It would be very useful to have some kind of core des

[2017-10-17 07:03] fredrik-lundin commented on #14
Here is a first, very simply, idea. Just cards with a small avatar (can for example use the one from github, _github.com/user-name.png_). Name, role, bio, links. Then just different background colors for _Core_ and _Learning_ team

![team-first-wip](https://user-images.githubusercontent.com/5526934/31650834-771fc3d6-b319-11e7-88a8-fb6ceab3de36.gif)

[2017-10-17 08:13] staltz commented on #38
It's very easy, basically they do the hard work for you.

[2017-10-17 11:09] ladyleet commented on #38
I feel like @benlesh and @jayphelps had some words related to search. Does this do fuzzy search? Guys did you have opinions?

[2017-10-17 12:14] staltz commented on #38
It seems to allow 1-character typos, so yes, some amount of fuzzy search.

![screen shot 2017-10-17 at 15 14 03](https://user-images.githubusercontent.com/90512/31664387-df7d8d08-b34d-11e7-8f47-c0b2f09b29c1.png)

[2017-10-17 15:26] ladyleet commented on #13
You guys are also amazing!

[2017-10-17 15:41] kwonoj commented on #38
@staltz does it supports 2byte languages for translations? (like chinese, kr, jp..)

[2017-10-18 07:14] cartant commented on #35
Do you have a specific process in mind for extracting the ESDoc-based documentation from the TS source files? Is this going to be an ongoing part of generating the documentation? Or will it be a one-off job?

Internally, ESDoc uses Babel's `babylon` to parse the source. And within the generated AST, the ESDoc exists in the `leadingComment` nodes. To parse the ESDoc content from within the comment

[2017-10-18 09:08] arat3091 commented on #33
can you assign me this issue . so that at least i will create the route and atleast add the link from @staltz  for his introduction.

[2017-10-18 10:21] ladyleet commented on #33
Hi! we are not assigning issues at this time but please feel free to contribute! Smaller incremental contributions and PRs are recommended so others can work on it too.

[2017-10-18 10:26] ladyleet commented on #35
@cartant I know @jayphelps and @benlesh have been working on this. Guys, have an update?

[2017-10-18 13:44] crunchie84 commented on #24
✋  all!

[2017-10-18 13:58] crunchie84 commented on #4
Shout out to @hermanbanken - would RxFiddle be a match to render the operator visualisations?

[2017-10-18 14:41] arat3091 commented on #33
cool. I just added the routed page for the getting-started-guide @ladyleet . Please check the pull request.

[2017-10-18 19:01] ladyleet commented on #35
@cartant thanks so much for expressing interest! @jayphelps is working on some of the harder challenges and will comment here for issues for others to take it to the finish line.

[2017-10-18 19:05] jayphelps commented on #35
I'm working on a solution that uses tsc to extract the type signatures from the code itself along with any associated doc comments. It hasn't been as easy as I thought it would be (surprise surprise). Biggest issues have been tsc's [lack of support for `{@link}`](https://github.com/Microsoft/TypeScript/issues/16498) and the [type aliases not printing as the most derived alias](https://github.com/M

[2017-10-18 20:34] manekinekko commented on #35
would you guys be interested in using [this project](https://github.com/compodoc/compodoc)?

[2017-10-18 20:38] manekinekko commented on #38
I can ping @pixelastic he could probably help with this.

[2017-10-18 20:54] manekinekko commented on #36
I can confirm that the Yarn team is using crowdin (http://i18n.yarnpkg.com/project/yarn).
I've helped them in the past. The tool seemed to be easy to use. So I do agree to use such tools for "globalization" (g11n) instead of using git. PRs could be such mess when it comes to reviewing g11n content.

[2017-10-18 21:12] ladyleet commented on #38
Thx @manekinekko !

[2017-10-18 21:15] ladyleet commented on #33
@arat3091 thanks and will do!

[2017-10-18 21:29] kwonoj opened #45 "Basic tooling"
anyone up for setting up lint / prettier, etcs for consistent codes? except prettier it's available in RxJS repo already so copy-paste would be sufficient.

[2017-10-18 21:45] ashwin-sureshkumar commented on #45
@kwonoj I can pick this

[2017-10-18 21:46] kwonoj commented on #45
go for it 👍

[2017-10-18 21:46] kwonoj commented on #45
one thing: prolly we need setup prettier for `lint-staged` stage as same as lint for faster processing.

[2017-10-18 21:47] ladyleet commented on #45
Thx @ashwin-sureshkumar

[2017-10-18 21:47] kwonoj commented on #45
+ with `husky` git hooks, I meant.

[2017-10-18 22:17] ashwin-sureshkumar commented on #45
@kwonoj - just clarify you are looking to add the husky hooks on pre-commit or pre-push. Also, run the test + lint on decided husky hook or just lint ? I was thinking both test + lint.

[2017-10-18 22:19] kwonoj commented on #45
what rxjs repo does is precommit for lint-staged only. reason it is precommit is it has autofix, so each commit has correct one right away. I'd probably not consider prepush at this moment especially test - let it run by CI.

[2017-10-18 22:31] ashwin-sureshkumar commented on #45
@kwonoj - Thanks !

[2017-10-18 22:48] jayphelps commented on #35
@manekinekko I think we'd use anything that works well for our use case; all of the off the shelf stuff we've looked at so far weren't flexible enough. The biggest thing we need is to have operators clearly grouped separate from any other docs that might get generated. e.g. we don't want to give equal placement to random classes and an operator. This is one of the reasons our current website isn't

[2017-10-19 02:41] cartant commented on #35
@jayphelps

[The Programmers’ Credo:](https://twitter.com/pinboard/status/761656824202276864)

[2017-10-19 05:44] feloy commented on #29
What about translating static texts, like site title, menu labels, etc. Do you want to use the internal Angular i18n?

I can work on the toolchain for this part.

[2017-10-19 16:38] ladyleet commented on #29
@feloy we are chatting about this in #36

[2017-10-19 17:01] ladyleet commented on #14
Hi @fredrik-lundin! thank you so much! That is basically exactly what we are looking for. I would emphasize the images and perhaps iterate on something like this?

<img width="756" alt="screenshot 2017-10-19 09 58 51" src="https://user-images.githubusercontent.com/8270563/31783741-35d0e9ea-b4b4-11e7-8bed-afec627be01f.png">

[2017-10-20 10:13] ladyleet commented on #19
Thx @knittingcodemonkey for this! Closing out this issue.

[2017-10-20 10:13] #19 closed

[2017-10-20 12:26] xlozinguez commented on #29
I obviously will take care of the French whenever we have the tooling ready. Happy to partake in that effort also (cc @kwonoj & @ladyleet)

[2017-10-20 12:28] xlozinguez commented on #9
Definitely can help with this :) sign me up

[2017-10-20 12:29] xlozinguez commented on #24
Hi

[2017-10-20 12:36] xlozinguez commented on #14
Can the team be extracted from the list of github contributors in order to avoid manual maintenance as much as can be?

[2017-10-20 12:40] ladyleet commented on #14
@xlozinguez nope - it's a pretty small list and doesn't change often so it should not be that high maintenance.

[2017-10-20 12:47] fredrik-lundin commented on #14
@ladyleet - working on something like this. Some tweaks to the text styling probably needed, but this should be more aligned with what you are thinking, right?

![image](https://user-images.githubusercontent.com/5526934/31821446-6c14692c-b5a5-11e7-91d4-5a77531be40b.png)

[2017-10-20 13:02] ladyleet commented on #14
@fredrik-lundin awesome! looking forward to seeing that PR!

[2017-10-20 13:10] ladyleet commented on #9
@xlozinguez cool we are still bikeshedding on how to actually implement translations right now in another issue.

[2017-10-20 13:43] ladyleet opened #50 "Page for Examples to RxJS content"
A page with a list of good RxJS content.

This can be:
- Blog posts
- Videos
- Articles
- Gists
- Stack Overflow
- Etc

- Content does need to be approved by a core team member before being added to make sure we are not sharing anti-patterns, and all links we provide abide by CoC.
- No direct links to paid content.

[2017-10-20 13:44] ladyleet opened #51 "Getting Started Guide for Node users"
Have at it all - feel free to suggest ideas and let's get something going.

[2017-10-20 13:44] ladyleet opened #52 "Getting Started Guide for React Users"
Have at it all - feel free to suggest ideas and let's get something going.

[2017-10-20 13:45] ladyleet opened #53 "Page for RxJS Libraries"
Examples of these would be Redux Observable

[2017-10-20 13:45] ladyleet opened #54 "Getting Started Guide for Angular users"
Have at it all - feel free to suggest ideas and let's get something going.

[2017-10-20 13:46] ladyleet commented on #33
@arat3091 make sure to add some sort of pre-requisites thing or something.

[2017-10-20 13:49] ladyleet opened #55 "Real world implementations of RxJS in other libraries"
Would love to have this someplace - not sure where this content should be yet. If anyone has suggestions of what content to link to, would be so great to bikeshed here.

[2017-10-20 13:51] ladyleet commented on #10
@Only1MrAnderson @lordknighton a lot of companies are already listed on the rxworkshop.com page.

[2017-10-20 13:53] ladyleet opened #56 "Create individual issues for each operator."
We need to take each individual operator and create issues for these things. Feel free to have at it.
Example: You can create 60 issues for Real World Examples for each individual operator and I would love you forever.

* Real world examples
* Examples in other frameworks
* Visual example
* Architectural use case
* Descriptions
* Use cases
* Edit here interface to allow people to contribute easily

[2017-10-20 14:12] ladyleet opened #57 "RxJS Learning Team Meetings"
I'll keep a running list of the learning team meeting notes here.

[2017-10-20 14:12] ladyleet commented on #57
https://github.com/ReactiveX/rxjs-core-notes/blob/master/rxjs-docs/2017-10/october-16.md

[2017-10-20 16:31] ashwin-sureshkumar commented on #55
@ladyleet - How about have something on the side nav like below,

[code]

[2017-10-20 17:18] btroncone commented on #55
I like this idea! Maybe the examples included the operator section can be platform agnostic but we can add an extra section which lists related, platform-centric examples where that operator is heavily featured.

[2017-10-20 23:52] pixelastic commented on #38
Hey everyone, thanks for pinging me :)

To add search to your documentation, I would definitely suggest using [DocSearch](https://community.algolia.com/docsearch/). It's using Algolia's API under the hood, but you don't have to open an Algolia account.

All you have to do is fill the form on the website with the url of your website and an email address where we can get back to you. We will take ca

[2017-10-21 07:35] ladyleet commented on #38
this is really cool! unless @jayphelps @benlesh @kwonoj comment on anything, then let's run with this. we'll give em a few days.

[2017-10-21 08:27] ladyleet commented on #55
@ashwin-sureshkumar new proposals based on oj's and brian's comments?

[2017-10-21 10:58] ashwin-sureshkumar commented on #55
@btroncone - That was the intention of linking from the operator section to real implementation and vice versa.

@kwonoj - I agree we won't have a 1:1 correspondence of examples for all frameworks but I was going for
easy predictable structure and navigation. Also, the list can get bigger as you mentioned, then we just have `Implementation` in side menu and then in that page we have switches to ex

[2017-10-21 11:45] ladyleet commented on #55
@ashwin-sureshkumar

1. Not sure! Are you planning on adding Angular/Vue/React examples? I think we can just say Plunkr for Angular for now and then whomever comes along to do the others can decide the convention.
2. Yes - there is another issue for adding links to good articles. we can build out that page now actually.
3. We can ask for sure - or we can just build what we think is useful.

I'm ok

[2017-10-21 11:47] #45 closed

[2017-10-22 01:01] lordKnighton commented on #31
This may sound a silly question: But can said person use Google Translate or is it preferred that said person/people should speak Russian to be able to accomplish this task?

[SideNote] If no Russian is available with free time to contribute, but has a task of that entails using Rxjs docs, It probably would be a good idea as a place holder, for docs to be translated with google Translator for deve

[2017-10-22 06:15] kwonoj commented on #31
It is extremely hard to track machine translated contents as placeholder to actual translated contents and most cases I haven't seen those process speeds up translation but just causes more confusion to readers. If there isn't someone can work on certain languages it'd fine, but I'm going to object to fill in via machine translations.

[2017-10-23 00:23] ashwin-sureshkumar commented on #56
@ladyleet  - I will get started on creating these issue, I am going to have a title of the issue as

`Add operator : <Type of Operator> -  <Operator Name> `
 Example: `Add operator :  combination - concat `

This way it will be easy to filter/group out by category of operators. I have pinged @btroncone to get some thoughts on minimum details required for adding operator PR.

[2017-10-23 08:19] phrawzty commented on #38
Hi all! I admit that I'm biased, but :+1: for [DocSearch](https://community.algolia.com/docsearch/). :smile: If you need any help or advice, or just have questions about how it works or what it takes to get up and running (spoiler: it's easy), please don't hesitate to ask.

[2017-10-23 21:54] knittingcodemonkey opened #61 "Accessibility - Rethink keyboard navigation on page load"
When the page loads, a keyboard user has to tab through the entire menu before they can navigate through the main page.

Ideas:
- Add a link to the top of the menu to skip to main page content
- When page loads, focus on the main page, but allow a user to ctrl-tab or cmd-tab backward to access menu.

https://webaim.org/techniques/skipnav/

[2017-10-23 21:56] knittingcodemonkey opened #62 "Accessibility - Figure out how to skip, or exit JSBin in content"
I couldn't figure out how to navigate beyond the first JSBin to continue onto the rest of the page. Is there a keyboard shortcut for skipping it, or getting out of it once you've tabbed into the JSBin?
https://webaim.org/techniques/skipnav/

[2017-10-23 22:37] ladyleet commented on #56
Where are you going to put what we are doing with each operator?

[2017-10-23 23:03] ashwin-sureshkumar commented on #56
My understanding was to create a github issue for each operator. Sorry, if I had misunderstood the this issue's description.

[2017-10-24 01:14] btroncone commented on #56
@ashwin-sureshkumar Did you ping me in another issue? Apologies, I have been super busy and must have missed it.

The current RxJS docs (which I believe we are extracting from) have the explanations and technical details nailed. The primary missing piece is examples and use cases. It's one thing to understand how it works technically but I think it's equally importantly to bridge the gap on 'why a

[2017-10-24 11:04] omfgnuts commented on #31
You can assign this issue to me, I'll do the translation once we choose translation tools :)

[2017-10-24 11:06] omfgnuts commented on #24
Hi all! :hand:

I'm coming from Valor Software to assist you with documenting NgRx. But unfortunately I'm just a Technical Writer and my coding skills are not so good. Feel free to assign issues to me that are related to writing.

Thanx @ladyleet for invitation :)

[2017-10-25 17:41] ladyleet commented on #56
@btroncone i'm super open to all of this. i think we should just start putting it in the areas of the operators that you have with your recent PR.

@ashwin-sureshkumar feel free to get started on this and maybe you can provide some insight onto where you think we should add it?

I always default to the idea that we should just *get started* and go with it.

I do think however, we should have indiv

[2017-10-26 01:27] ashwin-sureshkumar opened #63 "Add docs for operator : combinational - concat"
Add docs for operator `concat` under group `combinational`

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 01:28] ashwin-sureshkumar commented on #56
@ladyleet @btroncone - Checkout issue #63  and let me know if those details are sufficient for an issue. If not I will go ahead create those 60 issues.

[2017-10-26 02:24] btroncone commented on #63
Looks pretty good. Currently on docs all operators also feature a longer, more technical explanation. I think that should also be ported over along with the related operators block. Thanks for doing this! 👍

[2017-10-26 11:45] ladyleet commented on #56
LGTM

[2017-10-26 11:45] ladyleet commented on #63
:+1:

[2017-10-26 12:05] btroncone commented on #62
Thanks for looking into this, we could certainly add a keyboard shortcut if that would help. What would your suggestion be? I'm also not sure JSBin will be what we use when all is said and done but I would imagine it's likely we hit the same issue with any embed?

[2017-10-26 15:43] ashwin-sureshkumar opened #64 "Add docs for operator : combination - concatAll"
Add docs for operator concatAll under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #65 "Add docs for operator : combination - forkJoin"
Add docs for operator forkJoin under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #66 "Add docs for operator : combination - merge"
Add docs for operator merge under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #67 "Add docs for operator : combination - mergeAll"
Add docs for operator mergeAll under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #68 "Add docs for operator : combination - pairwise"
Add docs for operator pairwise under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #69 "Add docs for operator : combination - race"
Add docs for operator race under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #70 "Add docs for operator : combination - startWith"
Add docs for operator startWith under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #71 "Add docs for operator : combination - withLatestFrom"
Add docs for operator withLatestFrom under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #72 "Add docs for operator : combination - zip"
Add docs for operator zip under group combination

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #73 "Add docs for operator : conditional - defaultIfEmpty"
Add docs for operator defaultIfEmpty under group conditional

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #74 "Add docs for operator : conditional - every"
Add docs for operator every under group conditional

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #75 "Add docs for operator : creation - create"
Add docs for operator create under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #76 "Add docs for operator : creation - empty"
Add docs for operator empty under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #77 "Add docs for operator : creation - from"
Add docs for operator from under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #78 "Add docs for operator : creation - fromEvent"
Add docs for operator fromEvent under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #79 "Add docs for operator : creation - fromPromise"
Add docs for operator fromPromise under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #80 "Add docs for operator : creation - interval"
Add docs for operator interval under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #81 "Add docs for operator : creation - of"
Add docs for operator of under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #82 "Add docs for operator : creation - range"
Add docs for operator range under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #83 "Add docs for operator : creation - throw"
Add docs for operator throw under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #84 "Add docs for operator : creation - timer"
Add docs for operator timer under group creation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #85 "Add docs for operator : error handling - catch"
Add docs for operator catch under group error handling

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #86 "Add docs for operator : error handling - catch"
Add docs for operator catch under group error handling

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #87 "Add docs for operator : error handling - retryWhen"
Add docs for operator retryWhen under group error handling

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #88 "Add docs for operator : filtering - debounce"
Add docs for operator debounce under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #89 "Add docs for operator : filtering - debounceTime"
Add docs for operator debounceTime under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #90 "Add docs for operator : filtering - distinctUntilChanged"
Add docs for operator distinctUntilChanged under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #91 "Add docs for operator : filtering - filter"
Add docs for operator filter under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #92 "Add docs for operator : filtering - first"
Add docs for operator first under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #93 "Add docs for operator : filtering - ignoreElements"
Add docs for operator ignoreElements under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #94 "Add docs for operator : filtering - last"
Add docs for operator last under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #95 "Add docs for operator : filtering - sample"
Add docs for operator sample under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #96 "Add docs for operator : filtering - single"
Add docs for operator single under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #97 "Add docs for operator : filtering - skip"
Add docs for operator skip under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #98 "Add docs for operator : filtering - skipUntil"
Add docs for operator skipUntil under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:43] ashwin-sureshkumar opened #99 "Add docs for operator : filtering - skipWhile"
Add docs for operator skipWhile under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #100 "Add docs for operator : filtering - skipWhile"
Add docs for operator skipWhile under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #101 "Add docs for operator : filtering - take"
Add docs for operator take under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #102 "Add docs for operator : filtering - takeUntil"
Add docs for operator takeUntil under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #103 "Add docs for operator : filtering - takeWhile"
Add docs for operator takeWhile under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #104 "Add docs for operator : filtering - throttle"
Add docs for operator throttle under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #105 "Add docs for operator : filtering - throttleTime"
Add docs for operator throttleTime under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #106 "Add docs for operator : multicasting - multicast"
Add docs for operator multicast under group multicasting

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #107 "Add docs for operator : multicasting - publish"
Add docs for operator publish under group multicasting

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #108 "Add docs for operator : multicasting - share"
Add docs for operator share under group multicasting

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #109 "Add docs for operator : transformation - buffer"
Add docs for operator buffer under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #110 "Add docs for operator : transformation - bufferCount"
Add docs for operator bufferCount under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #111 "Add docs for operator : transformation - bufferTime"
Add docs for operator bufferTime under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #112 "Add docs for operator : transformation - bufferToggle"
Add docs for operator bufferToggle under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #113 "Add docs for operator : transformation - bufferWhen"
Add docs for operator bufferWhen under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #114 "Add docs for operator : transformation - concatMap"
Add docs for operator concatMap under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #115 "Add docs for operator : transformation - expand"
Add docs for operator expand under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #116 "Add docs for operator : transformation - groupBy"
Add docs for operator groupBy under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #117 "Add docs for operator : transformation - map"
Add docs for operator map under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #118 "Add docs for operator : transformation - mapTo"
Add docs for operator mapTo under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #119 "Add docs for operator : transformation - mergeMap"
Add docs for operator mergeMap under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #120 "Add docs for operator : transformation - partition"
Add docs for operator partition under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #121 "Add docs for operator : transformation - pluck"
Add docs for operator pluck under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #122 "Add docs for operator : transformation - scan"
Add docs for operator scan under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #123 "Add docs for operator : transformation - switchMap"
Add docs for operator switchMap under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #124 "Add docs for operator : transformation - window"
Add docs for operator window under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #125 "Add docs for operator : transformation - windowCount"
Add docs for operator windowCount under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #126 "Add docs for operator : transformation - windowToggle"
Add docs for operator windowToggle under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #127 "Add docs for operator : transformation - windowWhen"
Add docs for operator windowWhen under group transformation

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #128 "Add docs for operator : utility - delay"
Add docs for operator delay under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #129 "Add docs for operator : utility - delayWhen"
Add docs for operator delayWhen under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #130 "Add docs for operator : utility - dematerialize"
Add docs for operator dematerialize under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #131 "Add docs for operator : utility - do"
Add docs for operator do under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #132 "Add docs for operator : utility - let"
Add docs for operator let under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:45] ashwin-sureshkumar opened #133 "Add docs for operator : utility - toPromise"
Add docs for operator toPromise under group utility

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-10-26 15:46] ashwin-sureshkumar commented on #100
Closing as duplicate of #99

[2017-10-26 15:46] #100 closed

[2017-10-26 23:27] jayphelps commented on #38
@pixelastic seems really awesome, but how is it (or will be) subsidized/monetized?

[2017-10-27 01:19] sumitarora commented on #24
Hi

[2017-10-27 01:22] ladyleet commented on #24
hi @sumitarora !

[2017-10-27 01:25] sumitarora commented on #24
@ladyleet Just sent an email to get more info about the project.

[2017-10-27 01:27] ladyleet commented on #24
@sumitarora lovely!

[2017-10-27 01:28] ladyleet commented on #24
All, @ashwin-sureshkumar just created a bunch of issues about individual operators which should be really easy to cherry pick and start working on! :) Please do! :) Let us know if you need any help.

[2017-10-27 05:58] pixelastic commented on #38
It's free and will always be. Docsearch is not our main product, it's a
gift back to the developer community and we will never charge for it.

We just have a small logo on the dropdown that links to us, that's all.

On Fri, Oct 27, 2017, 01:27 Jay Phelps <notifications@github.com> wrote:

[2017-10-27 10:10] Jerry-Hong commented on #24
Hi

[2017-10-27 18:08] ladyleet commented on #24
Hi @Jerry-Hong !

[2017-10-27 18:15] #64 closed

[2017-10-27 19:08] #11 closed

[2017-10-27 19:12] ladyleet commented on #11
very disappoint @jayphelps. much sad.

[2017-10-27 23:34] ladyleet commented on #36
Here are my thoughts on this
1. has to be easy to contribute
2. has to be easy to access like the vue translations on the docs.
3. has to be easy to maintain.
4. has to be able to be released incrementally (like, if there are no translations it does something or says "not avail yet" or something). because i want to be able to release translated docs immediately.
5. maybe we can have a bar at the t

[2017-10-28 21:30] Only1MrAnderson commented on #10
@ladyleet  thoughts? It is still missing validation, layout, and some style but seeing if this is even wanted before I put any work into it.
![companies](https://user-images.githubusercontent.com/8826208/32138711-9132df0c-bc05-11e7-9fc4-4ada81bd6c23.gif)

[2017-10-29 17:30] knittingcodemonkey commented on #62
I'm looking into some standards for skipping the examples and exiting them. It just sucked to try navigating through the page, and get stuck in an example with no way out using only a keyboard.

[2017-10-29 22:35] btroncone commented on #62
Awesome, thanks for all of your help!

[2017-10-29 23:07] ladyleet commented on #10
@Only1MrAnderson I love this, but can we somehow add images/logos too? looks great! :)

[2017-10-29 23:07] ladyleet commented on #10
@Only1MrAnderson also what are your thoughts for the backend? firebase?

[2017-10-29 23:10] ladyleet commented on #62
@knittingcodemonkey you're kind of the best Jen!

[2017-10-29 23:13] lordKnighton commented on #10
Ok so how about, once they submit their company to the company page: We should be able to use their logo from any source?

[2017-10-29 23:14] ladyleet commented on #10
@lordKnighton most people are pretty particular about *which* logos are used is the problem.

[2017-10-29 23:15] ladyleet commented on #10
@Only1MrAnderson maybe we should also have a checkbox saying "submitted on behalf of company" or "submitted by company" and then email address?

[2017-10-30 00:09] Only1MrAnderson commented on #10
I was planning on adding the company logo on the left side where the building icon is showing now... This demo is already wired up to firebase.  I know the original requirement had them being approved. What is the thought with that? I have a few ideas to automate that just not sure of the reason behind approval. Is it just to prevent bots ? If so I could do github auth to submit ? Or I could possi

[2017-10-30 00:19] ladyleet commented on #10
I'm okay with no approval

[2017-10-30 10:29] omfgnuts commented on #36
Another tool we can use: http://www.ngx-translate.com

Here is the demo of how it works/looks https://embed.plnkr.co/pYo6bFPRRxVPgRR8toDt/

[2017-11-01 11:07] nicolaisueper commented on #24
Hey there, I could contribute with doc additions and german translations (if wanted).

Btw: Whats the 'marbleUrl' inside each doc model? To which domain should it point?

[2017-11-05 05:49] knittingcodemonkey commented on #62
It sounds like <ESC> is the key of choice for getting out of playground code examples.

[2017-11-09 09:04] Dorus opened #143 "combineLatest tip"
`combineLatest` should include this tip:

[2017-11-09 09:07] Dorus commented on #107
Import information to include in the `publish` docs:

`publish` has 2 variants.
1 `publish()` that returns a `ConnectableObservable` where you can call `connect()` or `refCount()`on.
2 `publish(selector)` that returns a normal `Observable` and will only multicast inside the selector.

Where the first variant returns an hot observable, the second variant returns a cold one.

[2017-11-09 09:08] ladyleet commented on #143
@dorus 👍

[2017-11-09 11:03] btroncone commented on #143
Thanks @Dorus, this is a really good tip. 👍🏻

[2017-11-09 18:37] omfgnuts commented on #36
In case anyone interested, here's the PR for ngx-translate, i'll write a short instruction on how to use translations tomorrow :) https://github.com/ReactiveX/rxjs-docs/pull/144 And here is ngx-translate enabled fork https://github.com/musienkoyuriy/rxjs-docs/  feat-i18n-integration tree @ladyleet

[2017-11-13 21:27] mustafamg commented on #24
Hi Everybody.

[2017-11-13 21:59] ladyleet commented on #24
Hi! Welcome!

[2017-11-14 06:26] Fost commented on #24
Hi! :)

[2017-11-14 11:41] ladyleet commented on #24
Hi Oleg

[2017-11-14 17:54] luillyfe commented on #24
Hi all of you, interested people !

[2017-11-15 03:27] rgbkrk commented on #4
Well this is awesome, thanks for kicking this off!

[2017-11-15 03:30] ladyleet commented on #4
Thx Kyle!

[2017-11-15 07:42] martinsik commented on #24
Hi everyone!

[2017-11-15 14:15] ladyleet commented on #24
Hi Martin! Let us know if we can help you get started!

[2017-11-15 17:50] grumblerchester commented on #24
Hi everyone! :smiley:

[2017-11-15 20:29] JoshWilliams92 commented on #24
Hey, any angular developers here? I'm really liking the new lettable operators btw, it really simplifies the code.

[2017-11-15 23:57] guilhermejcgois commented on #24
Hello everyone, is pt-br translation needed here? We're are using a lot of rxjs! Glad to help!

[2017-11-16 03:23] Only1MrAnderson commented on #57
@ladyleet  Can we get an update on the meeting notes for today's meeting? Sorry I had to miss it.

[2017-11-17 01:49] mustafamg commented on #54
As a start for this discussion, I'll share with you what I needed to learn on my first journey using RxJs with Angular:

- Using Http Module I needed to know how to issue an Http request and bind the result to the UI without using Promise pattern.
- How to merge the results of two requests: for example getting an id from a request then use this id in another request to get the data to be shown in

[2017-11-17 03:00] natmegs commented on #24
Hey! Open source newbie here but will be on the lookout for issues to try to tackle :)

[2017-11-17 03:19] #88 closed

[2017-11-17 03:39] #89 closed

[2017-11-17 11:17] #66 closed

[2017-11-17 11:20] ladyleet commented on #54
@mustafamg all these sound lovely. i'm sure @btroncone and @benlesh may have comments on this, but please feel free to get started! all sounds awesome so far.

[2017-11-17 11:21] ladyleet commented on #24
@grumblerchester thx for that PR!

[2017-11-17 11:21] ladyleet commented on #24
@JoshWilliams92 tons of em! :) feel free to pull down the project - it's just an angular app - we could always use help on the issues!

[2017-11-17 11:21] ladyleet commented on #24
@guilhermejcgois what is pt-br?

[2017-11-17 11:22] ladyleet commented on #24
@natmegs would adore that! :) let us know how we can help! :)

[2017-11-17 11:43] ladyleet commented on #57
@Only1MrAnderson for sure will post soon!

[2017-11-17 12:37] guilhermejcgois commented on #24
@ladyleet pt-br is brazilian portuguese (:

[2017-11-17 15:06] #67 closed

[2017-11-17 19:31] brandonroberts commented on #24
👋

[2017-11-17 19:49] ladyleet commented on #24
@brandonroberts hi brandon!

[2017-11-17 20:51] feloy opened #150 "Single page with all operators vs. One operator per page"
Hi,
I would like to discuss about the fact that all the operators docs reside in a single page.
I can see different problems with this single-page design:
- the page will contain a lot of text, images and links to jsbin to read all at once
- it won't be possible to optimize the search engine referencing for single operators

Would you be interested that  I propose a new design based on one page pe

[2017-11-17 21:01] btroncone commented on #150
This is something I went back and forth with when designing this section. In the long term as we fill in the documentation the page will either have to load content incrementally on scroll or we would need to switch to swapping out the operator content as you click through (as you propose). Loading 70+ images + diagrams + multiple JSBin embed's all at once just isn't feasible.

The downside is you

[2017-11-17 21:28] nicolaisueper opened #151 "How to deal with potentially unsafe HTML inside OperatorDocs?"
Hey there,

while working on #149, I was requested to put a link to another operator inside the OperatorDoc for combineLatest. My `href` attribute got sanitized and it resulted in `<a>.startWith</a>`.

I temporarily created a `SafeHtmlPipe` (analogous to the `SafeUrlPipe`), which bypasses the sanitizing.

I wanted to know if you all agree with my solution or maybe anyone else has an idea how to de

[2017-11-17 21:45] btroncone commented on #151
Hmm, this shouldn't be the case. We are binding to`[innerHTML]` elsewhere without issue. I attempted to recreate this locally and did not receive an error. I will need to look more closely at your branch to see if there is something I missed.

[2017-11-17 21:49] nicolaisueper commented on #151
Try to check out my branch and remove the safeHtml pipe from the operator-extras.component.html

[2017-11-17 22:26] nicolaisueper commented on #151
Now I'm confused. I removed it myself and it didn't complain. Closing this. 🤔

[2017-11-17 22:26] #151 closed

[2017-11-17 23:35] mustafamg commented on #54
Okay, I'll create issues for these suggestions and start working on them :)

[2017-11-17 23:41] ladyleet commented on #54
Lovely!

[2017-11-18 00:03] ladyleet commented on #150
@feloy @btroncone 👍

[2017-11-18 00:47] natmegs commented on #117
I have a PR ready for this as soon as JSbin is back up :)

[2017-11-18 00:51] ladyleet commented on #117
@natmegs awesome! Might want to submit a WIP?

[2017-11-18 01:48] natmegs commented on #117
Great, done. Would love any feedback with anything that needs to be changed!

[2017-11-18 10:29] btroncone commented on #54
Thanks @mustafamg, this is a great start! I would probably touch on observable forms and routing API's as well since they are so commonly used.

Can't wait to see what you come up with! 👍

[2017-11-18 15:19] ashwin-sureshkumar commented on #54
@mustafamg - This is amazing !

@mustafamg @btroncone - There is an issue #55 to create real world examples. Just want to make sure how do we separate getting started and real world examples or just go with getting started guide and add a section within the getting started guide as real world examples.

[2017-11-18 19:46] mustafamg opened #154 "RxJs for Angular Developers: Introduction"
This page should introduce the purpose and the scope of the guidance. This guidance focuses on helping Angular developers to adapt RxJs in their work. It is out of scope explaining Angular itself.

[2017-11-18 19:49] mustafamg opened #155 "RxJs for Angular Developers: Using HttpModule"
Many angular developers convert observer returned for HTTP request to promise before using them. This guidance will introduce to the developer how to declaratively use the returned observers instead of transforming it to promote.

[2017-11-18 19:55] mustafamg opened #156 "RxJs for Angular Developers: Using the output of one HTTP request into another"
In many cases, an Angular developer may need the output of one HTTP request to be used to in another get more data. For example, a master-details page that uses an id of item to get its master data and any other related data in the details section.

[2017-11-18 19:58] mustafamg opened #157 "RxJs for Angular Developers: Sharing state changes between multiple angular components."
In a dashboard that contains multiple graphs. All these charts may share the same date, any change to this data stream should be reflected in all these components on the screen.

[2017-11-18 20:06] mustafamg opened #158 "RxJs for Angular Developers: Reactive forms"
Angular reactive forms facilitate a reactive style of programming that favors explicit management of the data flowing between a non-UI data model (typically retrieved from a server) and a UI-oriented form model that retains the states and values of the HTML controls on the screen. Reactive forms offer the ease of using reactive patterns, testing, and validation.

[2017-11-18 20:20] mustafamg commented on #54
I think having a section for an angular full example is a good idea. I only want to add that the guidance is similar to a getting started section of any new tool. It does not get depth in describing how to do the same thing using different methods. I think it should just provide a simple introduction to how to use Reactive related concept or operator to achieve that very specific goal such as "dec

[2017-11-19 09:42] feloy commented on #150
I've just made a PR for the container scroll bug.
I'm working on a version with a single operator per page.

[2017-11-19 15:58] JoshWilliams92 commented on #24
@ladyleet thanks, also glad to give a helping hand. As an Angular dev I've been looking extensively through NGRX as well. The new entity adapter is great, would love to see or even make some sort of contribution to the indexedDB propsal. The entity adapter  methods would seem to work really well in conjunction as well.

[2017-11-19 16:10] btroncone commented on #150
Thanks, merged! 👍

[2017-11-19 17:05] feloy commented on #150
@btroncone I'm working on 3 different PRs:
- separation of operators in different pages, with the use of Title and Meta services to make SEO optimization
- add universal rendering support to pre-render to HTML pages of the website
- an upgrade to Angular v5 needed to Universal with lazy loading

[2017-11-20 02:11] ashwin-sureshkumar opened #162 "Versioning of documentation"
Just kicking off a discussion regarding versioning documentation for different releases of RxJS.

Similar to angular.io, vuejs.org ..

[2017-11-20 02:11] ashwin-sureshkumar commented on #162
cc @btroncone @ladyleet @sumitarora @kwonoj

[2017-11-20 14:46] ladyleet commented on #150
@feloy  love to see that!

[2017-11-21 12:26] #76 closed

[2017-11-21 12:34] ladyleet commented on #162
@benlesh @kwonoj just curious if you guys think we need this? i mean... will the versions change *that* much? also, i love ember's versioning of their docs - i think it's quite impressive how they handle it. we should check that out too!

[2017-11-21 12:39] ladyleet commented on #24
@JoshWilliams92 great to hear! it would be great to contribute some ngrx love to the docs. :)

[2017-11-21 12:41] ladyleet commented on #57
November 15, 2017 meeting notes - https://github.com/ReactiveX/rxjs-core-notes/blob/master/rxjs-docs/2017-11/november-15.md // @Only1MrAnderson

[2017-11-22 04:38] mustafamg commented on #57
@ladyleet I want to attend Team Meetings, but I don't know when and where you conduct these meetings.

[2017-11-22 15:43] takamori opened #164 "Provide or update website w/ documentation that is current for what is currently documented."
The website is out of date compared to the checked-in code. Example: Observable.subscribe isn't documented yet, even tho there is some jsdoc in the code if one digs through enough.

Creating a new issue for this since we were asked to do so in https://github.com/ReactiveX/rxjs/issues/2656#issuecomment-345958269

[2017-11-22 15:45] takamori opened #165 "Document Subject (e.g. next() is undocumented)"
No jsdoc exists in the code for next or most other methods on Subject.

Filing a new bug, as requested in https://github.com/ReactiveX/rxjs/issues/2656#issuecomment-345958269

[2017-11-22 16:46] ladyleet commented on #165
thank you @takamori! @btroncone @ashwin-sureshkumar @sumitarora ps we are chatting about the best way to handle the current docs issues. i'll ping on slack.

[2017-11-24 18:08] feloy opened #168 "Resolve signature from name, parameters and return type values"
For the moment, the signatures of the operators are defined as simple strings, but these signatures could be resolved from other information:
- name filed,
- parameters field
- a (missing) return type field.

This way, we could be able to display the signatures in a more friendly and adaptable way.

For example:
[code]

contains all the necessary information to write:

[code]

or, if one prefer:
[

[2017-11-24 20:53] mustafamg commented on #168
I support this as the return type is important and missed from the documentation unless the return type is 100% observable objects.
For the optional parameters, I support that as well and have a suggestion in this regard. Using a question mark '?' at the end of a parameter may be misinterpreted by developers of other languages such as Ruby developers. For example, ruby developers understand a ques

[2017-11-24 21:00] feloy commented on #168
I propose this notation for optional parameters as it is the one used in Typescript:

https://www.typescriptlang.org/docs/handbook/functions.html (see Optional and Default Parameters paragraph)

[2017-11-24 21:04] feloy commented on #168
In fact, we could adapt the display of the signature depending on the choice of the user to see it in Javascript or Typescript.

[2017-11-24 21:13] btroncone commented on #168
The return type will always be Observable for operators, unless there is something I'm missing?

[2017-11-24 21:22] feloy commented on #168
The partition operator for example does not return an Observable but a pair.

[2017-11-24 21:59] ashwin-sureshkumar commented on #168
@feloy The return is an observable sequence of pair. The return is still an observable.

[2017-11-24 23:44] mustafamg commented on #168
We have obsarvable<T>, obsarvable<Array>, [obsarvable, observable] as a return. They are not the same. I think developers are interested to know the type of output they expected.
For the optional parameter. Using question mark in typescript is not a naming convention, it is a keyword that guides the compiler to consider this parameter optional. Adding this parameter at the end of the optional para

[2017-11-25 14:33] mustafamg commented on #162
@ashwin-sureshkumar , good point.  @ladyleet, good suggestion. I go for it. ember Js versioning is more convenient with API versioning. When you change the version, it brings you the old version of the same command or keeps the current if they are the same. if the command is no longer exists, it gives you a not found page.

For Angular.io and vue js, they both redirects you to a completely new web

[2017-11-26 14:55] ladyleet commented on #162
👍

[2017-11-26 15:39] ladyleet commented on #164
@takamori thank you for this! we will be discussing this.

[2017-11-26 15:42] ladyleet commented on #57
@mustafamg can you email me so i can add you? tracy@thisdot.co

[2017-11-27 17:15] #117 closed

[2017-11-27 21:11] ladyleet opened #169 "Provide better documentation for mergeScan"
https://github.com/ReactiveX/rxjs/issues/2737#issuecomment-347255342

[2017-11-28 16:43] #131 closed

[2017-11-28 18:34] ladyleet commented on #131
thx @ashwin-sureshkumar !

[2017-11-28 23:20] lordKnighton commented on #54
@mustafamg I think we should target AngularCLI for starting & also an article without the CLI for those without it, But all examples in the CLI should work in other angular environments. But I think the CLI is easier to get started with. I'd definitely like to collaborate with you. Preferably tackling low hanging fruit of this task.

[2017-11-29 07:06] Only1MrAnderson commented on #155
The Angular Docs have a great example of this... https://angular.io/guide/http#making-a-request-for-json-data
[code]

[2017-11-29 07:13] Only1MrAnderson commented on #14
@fredrik-lundin Are you able to submit your work for this? If not I will pick it up.

[2017-11-29 09:25] mustafamg commented on #155
Yes, this one way of doing that. The other way is returning the observer to the template instead of the results coming from the subscription.
The other way, is as follow:
` this.results  = this.http.get('/api/items').map(data => data['results']);`

[2017-11-29 09:31] mustafamg commented on #54
@lordKnighton our target is not to make a tutorial of how to use angular. Our aim is a guidance of using RxJs concepts while developing an angular application.
So in scope: How to return observable to the UI instead of converting to promises
Out of scope: How to start a new angular application

[2017-11-29 18:17] knittingcodemonkey commented on #61
Great job! Pressing escape exits out of the navigation, closes it, and focuses on the main body. I believe this closes this issue.

[2017-11-29 18:17] #61 closed

[2017-11-30 20:06] lawmbass commented on #24
Hey everyone, new here in the OS community but like to help out in any way I can. 😄

[2017-11-30 20:11] ladyleet commented on #24
@lawmbass hi! that is so great! please do help us document some operators, look through the issues and see if there is anything, or ask me for any help to get started! :) we also have a slack. you can email me tracy@thisdot.co with your deets and i can add you.

[2017-11-30 20:15] lawmbass commented on #24
Sure @ladyleet will do.

[2017-12-01 09:19] fredrik-lundin commented on #14
@Only1MrAnderson Hi! I'm so sorry that I haven't had time to work on this at all in so long. Completely side tracked by.. life.. I will look into finishing up a PR this weekend. Or would you rather start from scratch?

[2017-12-02 15:54] btroncone opened #178 "Prefer const in code examples"
We currently have a mix of `var`, `let`, and `const` in the operator examples. I think we should standardize on one or the other to be consistent, my preference would be `const`. Thoughts?

[2017-12-02 15:55] ashwin-sureshkumar commented on #178
I agree

[2017-12-02 21:37] ladyleet commented on #178
👍

[2017-12-03 01:43] #90 closed

[2017-12-03 19:31] mustafamg commented on #178
Me too.

[2017-12-03 22:49] yiochen commented on #24
Hi everyone

[2017-12-04 03:43] ladyleet commented on #24
hi @yiochen !

[2017-12-04 17:08] chrisdemars commented on #24
Hey everyone! @knittingcodemonkey referred me here to help with accessibility issues. Can't wait to get started.

[2017-12-04 17:11] ladyleet commented on #24
@chrisdemars yay! so stoked to have you chris! :) also @jayphelps would totes appreciate your mug. :)

[2017-12-06 01:47] #63 closed

[2017-12-06 17:57] sumitarora commented on #143
@btroncone @ashwin-sureshkumar This is done I believe.

[2017-12-08 02:05] ashwin-sureshkumar opened #192 "Add docs for operator : filtering - sampleTime"
Add docs for operator sample under group filtering

Below is minimum details needed

- [ ] name
- [ ] operatorType
- [ ] signature
- [ ] parameters
- [ ] short description
- [ ] Technical description
- [ ] Visual example  (Marble diagram)
- [ ] Real world example (Non-framework)
- [ ] Related Operators

[2017-12-08 21:29] #101 closed

[2017-12-11 14:58] #91 closed

[2017-12-11 15:08] takamori commented on #164
any updates?

[2017-12-11 15:08] takamori commented on #165
any updates?

[2017-12-11 15:36] #97 closed

[2017-12-11 16:31] ladyleet commented on #165
@takamori we are currently working on releasing the docs and operators, but this is on our list!

[2017-12-11 21:34] JWO719 commented on #24
Hi all, I would really like to support the documentation with some German translations if needed.😄

[2017-12-11 21:47] calvellido commented on #24
Hello everybody!

[2017-12-11 22:09] ladyleet commented on #24
@JWO719 welcome and thank you! :) @valorkin we have people lined up! :)

[2017-12-11 22:09] ladyleet commented on #24
@calvellido hello and welcome! :)

[2017-12-11 22:19] jorgeucano commented on #24
hi 👋  maybe spanish docs :D ?

[2017-12-11 22:24] jorgeucano commented on #7
i can help in this issue @ladyleet =)

[2017-12-11 22:38] ladyleet commented on #7
lovely! we are waiting for @valorkin's team to finish with the ngx-translate integration and then BAM! :) hahaha :)

[2017-12-11 22:39] ladyleet commented on #24
@jorgeucano yes please!

[2017-12-11 22:41] jorgeucano commented on #7
perfect!!! I can wait 👍  ... I will check others issues =)

[2017-12-12 07:41] valorkin commented on #164
I am working on generating docs from jsdoc and type and translations

[2017-12-13 07:53] hardikpthv commented on #192
@ashwin-sureshkumar working on it ...

[2017-12-13 16:24] JWO719 commented on #178
isn't this one closed with #179 ?

[2017-12-13 16:25] ashwin-sureshkumar commented on #178
@JWO719 - Yes. Closing. Thank you.

[2017-12-13 16:25] #178 closed

[2017-12-13 16:55] #71 closed

[2017-12-13 18:06] ladyleet commented on #14
@fredrik-lundin have any time to finish this up? let me know what support you need from me!

[2017-12-13 18:31] knittingcodemonkey commented on #62
It appears that ALT-TAB or OPTION-TAB works to escape the JSBin. This solves my concern with this issue.

[2017-12-13 18:31] #62 closed

[2017-12-13 18:45] sumitarora commented on #14
@fredrik-lundin Can you push the PR whatever you have done?

[2017-12-13 19:59] fredrik-lundin commented on #14
Aaaargh, sorrryy!! I'll push what I have tonight!

[2017-12-13 20:08] ladyleet commented on #14
thanks @fredrik-lundin

[2017-12-13 20:16] knittingcodemonkey opened #200 "Accessibility: Sub-navigation lost after closing"
Use only the keyboard.

- Press tab until you get to the hamburger menu.
- Press enter to open hamburger menu.
- Tab to `Operators` and press enter.
- Tab to enter sub-navigation
- Press `<ESC>` while on the sub-navigation

The only way to open the sub-navigation is to navigate to a new main page, and then go back to the `Operators` page.

We need to make sure that either that navigation doesn't c

[2017-12-13 20:28] fredrik-lundin commented on #14
@ladyleet submitted a PR!

[2017-12-13 20:29] ladyleet commented on #14
thanks @fredrik-lundin

[2017-12-13 20:31] ladyleet commented on #14
thanks!

[2017-12-13 22:22] ladyleet opened #204 "shareReplay is not listed in the docs"
Per an issue filed in the rxjs repo - https://github.com/ReactiveX/rxjs/issues/3184

[2017-12-14 03:27] johnsonsamuel commented on #24
Hello from Chennai, India :)

[2017-12-14 06:51] fredrik-lundin commented on #158
Reactive forms in angular are definitely very cool, and implements rxjs nicely!

But what kind of documentation did you have in mind that is not already present in the official angular docs? If it's not very different, maybe it's just harder to maintain proper docs both here and at angular.io?

[2017-12-14 08:59] samal84 commented on #204
Ben wrote a description in the pr: https://github.com/ReactiveX/rxjs/pull/2443

It would be nice if the description was explicit about the fact that share and shareReplay differ in that shareReplay will never unsubscribe from the source once it is subscribed even if all its subscribers unsubscribe.

[2017-12-14 09:09] calvellido commented on #7
I can help here too when it's time! 😀

[2017-12-14 15:13] ladyleet commented on #24
hi @johnsonsamuel ! nice to meet you! feel free to take a look at the issues and see if there is anything you can contribute to!

[2017-12-14 15:50] #200 closed

[2017-12-14 16:33] johnsonsamuel commented on #24
Sure thing @ladyleet.

[2017-12-14 21:02] JWO719 commented on #94
I would give this a try, if no one is already working on it.

[2017-12-15 11:05] mustafamg commented on #158
Sure there is some documentation on the angualr.io website. However, for the need of completion, we will need an abstracted version that focuses on RxJs. I mean, on angular.io you will find the documentation for validation mixes both for reactive and normal forms. In our documentation, we will focus only on reactive forms validation. I hope this clarifies what is required for this task.

[2017-12-19 20:59] #122 closed

[2017-12-20 03:31] #102 closed

[2017-12-20 03:53] #105 closed

[2017-12-20 03:57] #104 closed

[2017-12-20 21:29] Airblader commented on #10
I'm not sure skipping approval would be a good idea. It seems like a footgun that invites people submitting all kinds of »funny« things (»rxjs used by Fart Corp.« and worse).

[2017-12-20 21:30] Airblader commented on #10
Side note, why even go through the trouble of building a form to submit this which will probably be used quite rarely. Aren't Github PRs a perfect way of adding companies coming with a free approval process? :-)

[2017-12-20 21:45] ladyleet commented on #10
i mean... @Airblader brings up fair points. :) i feel like skipping approval is also ok bc if it gets out of hand, we can change it.

[2017-12-20 21:46] ashwin-sureshkumar commented on #10
Also, I agree with the point of just using PRs for adding companies. Thoughts ?

[2017-12-20 21:47] Only1MrAnderson commented on #10
Could do OAuth with GitHub, that is baked into firebase

[2017-12-20 22:04] Airblader commented on #10
Funnily I actually run a website that has a submission without approval process. The only reason I chose that is because it's too small, too specific and doesn't have any kind of free text to enter (but even there I at least send an email to myself for any submission). Personally I'd never choose that approach for something like this. Once some hate speech stuff shows up you might even have compan

[2017-12-20 22:19] Airblader commented on #10
(But for the record, I wouldn't expect this form to be used a whole lot anyway. In my opinion it'd be best to instead just have some kind of "Do you also use rxjs and want to be listed here? Send a PR or drop us an email" with appropriate links.)

[2017-12-21 15:07] ladyleet commented on #10
@Airblader i dont like the email but the PR is great or maybe creating an issue with the specific items?

[2017-12-21 17:08] jdevng commented on #165
Actually the links don't match up in the operator list. Looks like maybe these are machine generated.

<li><a href="/documentation/operators/takelast.html"><code>Next</code></a></li>
--
  | <li><a href="/documentation/operators/first.html"><code>Next</code></a> (BlockingObservable version)</li>

[2017-12-22 07:54] Airblader commented on #10
I would assume that someone submitting a new company is typically tech-savy and not some executive or manager (who doesn't know what rxjs is), so I don't think having them submit a PR is asking too much. :-)

[2017-12-22 14:44] ladyleet commented on #10
Agreed to!

[2017-12-22 15:53] mustafamg commented on #165
If nobody yet started working on this, shall I start documenting it?

[2017-12-22 15:55] ladyleet commented on #165
@mustafamg yes that would be great!

[2017-12-22 16:25] ashwin-sureshkumar commented on #10
PR incoming on top of @Only1MrAnderson to address the above discussion, since he is busy for a bit.

[2017-12-22 16:27] btroncone commented on #10
@ladyleet @Airblader I agree, PR would be great. Having it completely open with no approval is too risky imo. 👍

[2017-12-22 16:44] ashwin-sureshkumar commented on #10
@btroncone  PR is up.

[2017-12-27 15:01] #98 closed

[2017-12-27 15:05] #96 closed

[2017-12-29 15:04] #128 closed

[2017-12-29 15:04] #109 closed

[2017-12-29 15:05] #94 closed

[2017-12-29 16:54] #95 closed

[2017-12-29 17:53] #10 closed

[2017-12-30 05:23] hardikpthv commented on #120
@ashwin-sureshkumar working on it...

[2018-01-03 18:44] JWO719 commented on #133
I will give this a try. PR is coming :)

[2018-01-03 19:16] ladyleet commented on #133
@JWO719 sounds great!

[2018-01-04 20:54] JWO719 commented on #53
I think this is a great idea, but what should this page include? Should it just point to the homepage of the libraries or should there be some further informations (blogs, tutorials, instructions)?

[2018-01-04 21:04] JWO719 commented on #116
This one can be closed.

[2018-01-04 21:07] JWO719 commented on #86
this is a duplicate of #85

[2018-01-04 21:13] JWO719 commented on #79
I take this one.

[2018-01-07 03:36] #123 closed

[2018-01-07 03:45] #77 closed

[2018-01-08 14:31] #120 closed

[2018-01-09 23:21] #68 closed

[2018-01-10 19:22] #14 closed

[2018-01-11 18:20] #121 closed

[2018-01-12 01:23] #124 closed

[2018-01-12 02:46] #65 closed

[2018-01-12 02:54] #92 closed

[2018-01-12 13:50] DiedrikDM commented on #111
I will start with some work on this issue!

[2018-01-12 14:16] ashwin-sureshkumar commented on #103
Working on this one.

[2018-01-18 11:59] DiedrikDM commented on #113
I'll work on this issue

[2018-01-20 08:46] suhasdeshpande commented on #24
Hi @ladyleet

[2018-01-23 14:29] DiedrikDM commented on #112
Next one for me

[2018-01-23 15:57] ladyleet commented on #112
You're awesome @diedrikDM!

[2018-01-24 20:41] scottescue commented on #164
Is there a timeline for getting http://reactivex.io/rxjs updated? Is this anything a RxJS noob like myself could help with to move this along?

I can tell you as a new RxJS user it's extremely confusing, and ultimately frustrating, when the published documentation doesn't include core methods that are referenced in numerous tutorials and code samples.

[2018-01-24 20:46] ladyleet commented on #164
@scottescue yep we are working on it! you can go ahead and check out the issues and see if there is anything you can contribute too! happy to help

[2018-01-24 22:12] DiedrikDM commented on #110
I'll take this buffer method as well :)

[2018-01-25 01:59] ladyleet commented on #78
^^ this one would be nice

[2018-01-25 09:06] Dorus opened #240 "Replace http://reactivex.io/rxjs/ docs"
The docs on http://reactivex.io/rxjs/ currently contain the docs generated from https://github.com/ReactiveX/rxjs and are not updated for years, wasting hours of development time because of mistakes.

The rxjs-docs docs should replace these docs.

[2018-01-25 13:20] michahell commented on #4
thanks guys!

[2018-01-25 13:41] ladyleet commented on #110
thank you @DiedrikDM! helping us get the docs done! are you on our slack channel? email me so we can chat more! tracy@thisdot.co

[2018-01-25 13:43] ladyleet commented on #240
@Dorus that is our goal! :) lots of work ahead though!

[2018-01-25 14:18] DiedrikDM commented on #78
as requested ;-), I'll tackle this one next

[2018-01-25 15:07] ladyleet commented on #78
phew! :)

[2018-01-25 17:42] benlesh opened #241 "Ensure merge/concat/etc documentation talks about how events arrive"
There was [just an issue in rxjs core ](https://github.com/ReactiveX/rxjs/issues/3244)where someone didn't understand how the events emitted from merge will be ordered. We should probably put a small explanation of ordering in the merge (et al) documentation.

[2018-01-25 20:29] bcabanes commented on #24
👋  from Montreal!

[2018-01-26 08:29] JWO719 opened #242 "Provide Documentation how to tests rxjs applications"
I think we should provide some informations how to test observables. In general most developer feel quite uncomfortable testing rxjs parts. Maybe we could reference good blog posts about it or something like that. I'm not sure where to put these kind of informations on the website....

[2018-01-26 23:19] shobhitg opened #244 "RxJS recipe book"
I really think there is a need of having a Recipe book bundled along with RxJS docs.

It should have RxJS patterns of all kinds gathered from collective wisdom.

Some examples:
1. RxJS sample snippet for polling an API until a condition is met
2. RxJS snippet for controlling flow of streaming data. Like this one: https://codepen.io/shobhitg/pen/BJvyZe
3. RxJS recursion usecases, etc

Thoughts?

[2018-01-26 23:33] benlesh commented on #4
@ladyleet how are we doing with these bullet points?

[2018-01-27 06:16] JWO719 commented on #244
I think that this is a really great idea. With informations like that this documentation would become something like a single point of truth and an integral part of the developer experience of rxjs. Great idea. Like it!

[2018-01-27 16:54] sauloaguiar commented on #24
Hi there! I've always been curious about rx implementations and since I've been working with js/react lately I'm wiling to help/learn here :)

Also I already got a question, and I'm going to put it here for the debate. If this is not the best place, please let me know :)
@ladyleet, I just saw your screencast about merging PR’s on rxjs docs repo and was wondering about handling merge conflicts in g

[2018-01-29 21:06] DiedrikDM opened #247 "Documentation guidelines"
Hi everybody,

It's currently not easy to find any guidelines about how our documentation should look like. There are currently a couple of things that I learned while adding four PRs to the documentation and I would like to summarize those into a DOCUMENTATION_GUIDELINES.md file. I will start by adding a new PR to add that file and afterwards we can still modify it when necessary.

[2018-01-29 22:02] JWO719 commented on #247
Sounds really good for me. Great idea :+1:

[2018-01-30 22:12] benlesh opened #249 "Connecting this an rxjs/master efforts"
We need to make sure that the rxjs/master README guides people to this stuff.

Please see this here: https://github.com/ReactiveX/rxjs/issues/3272

[2018-02-01 16:36] JWO719 commented on #249
If I understand you correctly maybe this pr #248 is a good start. Perhaps we could just link to file if its merged?!

[2018-02-01 16:44] JWO719 commented on #35
Just a question. Is this still the way to go? I'm not quite sure but I think the current manual approach got some advantages too. For example it is much easier to versionize the documentation or add some improvements to the documentation for special release versions of rxjs. Such advantages keep me thinking about the approach discussed in this issue. Of course it is much more work to do but I thin

[2018-02-01 16:48] JWO719 commented on #162
I think versioning is quite important for such a huge library like rxjs. Ofc there shouldn't be that much different in each version. But you could emphazise changes/improvements for the selected version for example. Maybe it would also fit to make an amount of version selectable, for example just orientate on major release or something like that. Furthermore I think this would also offer the opper

[2018-02-01 20:15] JWO719 commented on #132
pr is coming :D

[2018-02-02 23:24] benlesh commented on #162
FYI: I think version is *very* important, especially going forward.

[2018-02-03 16:42] ladyleet commented on #35
@JWO719 yes - we still will need to do this and half both - manual + generated in the new docs.

[2018-02-03 19:02] ladyleet commented on #249
@benlesh thoughts?

[2018-02-03 19:03] ladyleet commented on #249
@JWO719 i like this - do you want to go ahead and submit a PR to rxjs and tag myself and ben on this?

[2018-02-03 20:09] JWO719 commented on #249
Yeah ofc. :smiley:

[2018-02-05 04:23] cartant opened #251 "Find-the-Right-Operator Widget"
Are there any plans to incorporate the [find-the-right-operator widget](https://github.com/ReactiveX/rxjs/tree/master/doc/decision-tree-widget) in the new documentation?

![widget](https://user-images.githubusercontent.com/3878593/35788202-8488354a-0a7f-11e8-8fc7-d7bb0c0e441e.png)

And if so, could it be placed somewhere more prominent? I'd been using RxJS for a long time and I'd not noticed it un

[2018-02-05 12:00] ashwin-sureshkumar commented on #251
Hi, yes there is plan to incorporate this into new docs with more visibility and design. There is an issue created for this. Let me find that for you to track.

[2018-02-05 14:11] ashwin-sureshkumar commented on #251
@cartant - Okay, we did discuss about it but there is no git issue. We will track it here.
There was a twitter conversation where Jeff Cross wasn't aware of this as well.

Also, contributions are welcome in any form:  design, documentation, development.

Thanks !

[2018-02-05 14:11] #110 closed

[2018-02-05 14:27] #113 closed

[2018-02-05 14:36] #99 closed

[2018-02-05 14:42] #103 closed

[2018-02-05 16:29] #111 closed

[2018-02-06 02:19] #112 closed

[2018-02-06 02:39] #119 closed

[2018-02-07 06:58] JWO719 commented on #249
Pr is merged in rxjs repo. So this one can closed.

[2018-02-07 07:00] JWO719 commented on #247
The pr is already merged, so this issue can be closed

[2018-02-07 09:23] DiedrikDM commented on #247
@JWO719 thanks for the reminder 👍

[2018-02-07 09:23] #247 closed

[2018-02-07 18:04] #249 closed

[2018-02-07 18:04] benlesh commented on #249
Thanks @JWO719

[2018-02-08 19:05] JWO719 opened #254 "UX Improvement: Add instant search to Sidebar"
To make is easy to find special operators, there should be an instant search on top of the operator list in the sidebar.

[2018-02-08 19:06] JWO719 opened #255 "Bug: Escape closes Sidebar"
Pressing the Escape key, closes the Sidebar, but you can't open it again

[2018-02-08 19:07] JWO719 opened #256 "UX Improvement: Add get started Page"
Add a get started Page which explains the pros of rxjs.

[2018-02-08 19:08] JWO719 opened #257 "UX Improvement: Company Page as home page"
Instead separate page show companies that use RxJs on the home page

[2018-02-08 19:09] JWO719 opened #258 "UX Improvement: make external pages open in a new tab"
All external links should be opened in a new tab to prevent leaving the current website.

[2018-02-08 19:10] JWO719 opened #259 "UX Improvement: outline at the right side"
Add quick outline at the right side as a additional navigation if needed.

[2018-02-08 19:11] JWO719 opened #260 "UX Improvement: add Logo"
Add logo to top navigation and make it as link to the home page.

[2018-02-08 19:12] JWO719 opened #261 "UX Improvement: Change Navigation"
Move links from left menu to top navigation except home and companies.

[2018-02-09 06:16] JWO719 commented on #254
I would like to implement this one this weekend.
@knittingcodemonkey is there something I have to mind to make such a searchbar accessible? thank you!

[2018-02-09 17:03] ladyleet commented on #24
hi @suhasdeshpande @bcabanes @sauloaguiar @bojidaryovchev !

[2018-02-09 17:03] ladyleet commented on #24
@sauloaguiar sorry just seeing your message now - did you get this figured out?

[2018-02-13 16:48] JWO719 commented on #81
PR is coming :D

[2018-02-13 21:28] luillyfe commented on #129
It is going to be solve it in https://github.com/ReactiveX/rxjs-docs/pull/266

[2018-02-13 22:26] sauloaguiar commented on #24
@ladyleet hey, yes! tks :)

[2018-02-14 14:12] jonathanconway commented on #4
Hey all. I'm keen to contribute. Thinking of documenting publishReplay. Shall I create an issue?

[2018-02-14 16:49] ladyleet commented on #4
@jonathanconway yes please do!

[2018-02-14 16:50] ladyleet commented on #4
Closing this issue out as we have kicked off the docs! If anyone in this thread still needs help contributing you can always email me at tracy@thisdot.co and I'm happy to be of service. Or, email me so I can add you to our slack channel!

[2018-02-14 16:50] #4 closed

[2018-02-14 16:50] ladyleet commented on #4
@benlesh thx ben for pinging me to close this!

[2018-02-14 17:14] ladyleet commented on #24
@sauloaguiar 👍

[2018-02-15 06:17] Reza88 commented on #24
hi!

[2018-02-16 09:34] DiedrikDM opened #269 "Method Signature Suggestions/Thoughts"
Hi everybody,

I have a couple of thoughts on trying to improve the Method Signature and I would like to get some extra feedback/thoughts from others.

### public access modifier
In our new documentation every method currently starts with the **public**  access modifier. In my opinion this is not really that helpful. All of the methods in the documentation are - as far as I know - public. So why n

[2018-02-16 09:35] DiedrikDM commented on #269
As an example fromEvent would become:
`static fromEvent(target, eventName, options, selector): Observable`

[2018-02-19 22:31] luillyfe commented on #114
it will be solve by https://github.com/ReactiveX/rxjs-docs/pull/272

[2018-02-22 13:03] JWO719 commented on #269
Thanks for this proposal @DiedrikDM . You got definetly some points. I totally agree about the access modifier with you. But I think that the parameter list should be well described due to the wide range of possibilities. But I think a link to the type would be helpful too.

[2018-02-22 13:26] sjames1958gm commented on #24
Hello

[2018-02-22 18:03] jsonberry commented on #24
hello! thanks for sharing on the this dot conf

[2018-02-22 23:26] ladyleet commented on #24
@jsonberry you're welcome! :)

[2018-02-23 07:26] sumitarora commented on #251
@ashwin-sureshkumar I can work on it and create a quick POC for it.

[2018-02-23 18:11] tsiq-swyx commented on #24
hello this may be a silly question but.. is this version of the docs hosted anywhere? or do  i just download and run it myself? sorry if this instruction is posted somewhere else, i dont see it

[2018-02-25 02:16] jsonberry commented on #255
@JWO719 I was unable to reproduce this. Perhaps it was fixed, can you confirm?

[2018-02-25 10:33] JWO719 commented on #255
Hi I could reproduce it in Chrome. You just have to click on an operator and during focus you could hide the sidebar with escape. But this bug also occurs in firefox. I don't want to test it in IE but I'm quite sure there is this bug also :D

[2018-02-25 17:22] jsonberry commented on #255
Gotcha! Okay I was able to reproduce now. Thanks!

[2018-02-25 20:03] ladyleet commented on #24
@tsiq-swyx we just launched! http://rxjsdocs.com

[2018-02-25 20:52] knittingcodemonkey commented on #255
Pressing escape to close the sidebar was intentional. We wanted the ability to skip the menu, for accessibility reasons, after you selected the option you desired. You can open it up, again, by going to the menu and selecting operators.

The bug that does still exist is that on mobile, selecting an operator doesn't close the menu.

[2018-02-25 20:54] knittingcodemonkey opened #276 "On mobile sizes, header doesn't wrap, causing side scrolling"
When you are on mobile sizes, you can scroll to the length of the header because the pink header isn't responsive enough.

[2018-02-25 20:56] knittingcodemonkey opened #277 "Bug: On mobile sizes, close the menu automatically once an operator is selected."
At the moment, when you select an operator, the side menu doesn't close. You can close it by pressing escape, but the menu should close by default. We do want to continue to show the side menu at larger sizes that can support the width.

[2018-02-25 21:02] jsonberry commented on #255
@knittingcodemonkey Cool, that makes sense. Glad to hear it was intentional.

As the UX stands right now:
[code]

Would it be better if...
[code]

Re:

I'll :eyes: for a logged issue, and I can put some effort into fixing that.

[2018-02-25 21:05] knittingcodemonkey commented on #255
I do like the option of setting the focus, when you open the menu, to the page and/or operator on which you are currently located.

The bug for not closing the side menu on mobile sizes is #277. I just added it.

[2018-02-25 21:06] jsonberry commented on #255
Thanks for making #277 I'll put some :eyes: on it

[2018-02-25 21:06] knittingcodemonkey commented on #255
Thank you for your help, and your contributions! You're doing great work.

[2018-02-25 21:09] knittingcodemonkey commented on #269
I agree with @JWO719. For a beginner, it can be difficult to determine exactly what the method is looking for.

[2018-02-25 21:10] knittingcodemonkey commented on #251
This is something that can go on the homepage as part of #256.

[2018-02-25 21:11] jsonberry opened #278 "UX Improvement: Operator sidenav focus"
Per the discussion spawned in #255

As the UX currently stands:
[code]

The UX improvement would be:
[code]

[2018-02-25 21:12] jsonberry commented on #255
Per the discussion here @JWO719 , can we close this issue?

I've opened #278 to capture UX improvements when reopening the sidenav.

[2018-02-25 21:15] jsonberry commented on #277
I wonder if there's something we could do like a "skip to main" when a user clicks on an operator sidenav item, instead of just closing the menu.

Our main concern for a11y is to get the user to the main content after making the selection, right?

[2018-02-25 23:11] jotatoledo commented on #24
Love it, already cloning :smile:

[2018-02-26 01:46] jotatoledo commented on #254
Personally I dont think it would be a good idea to make the filtering in the sidenav.

IMO the sidenav should be static. A search bar could be built in the main toolbar, on input events:

- Main router outlet displays view mapped to path `root/search?q=${input}. View renders search list. On click of element navigate to `root/operators/${operator}`
- Display floating autocomplete list connected to

[2018-02-26 09:54] JWO719 commented on #255
closing due to #277

[2018-02-26 09:54] #255 closed

[2018-02-26 10:16] JWO719 commented on #276
I have noticed that too. Thanks for creating an issue!

[2018-02-26 17:16] saiprasad2595 commented on #24
hello rockstars i am new here. Just thinking from where to start for contributing.Also how can i get advanced knowledge on rxjs . Thanx 😀

[2018-02-27 01:27] ladyleet commented on #24
@saiprasad2595 please take a look at the issues and let us know what you'd like to get started on! :) and hi @jotatoledo great to have you here!

[2018-02-27 15:18] cschomer commented on #24
Just saying hi here to all, and to see where how I can help. Made one PR any feedback welcome, thanks.

[2018-02-27 16:20] ladyleet commented on #24
thx @cschomer

[2018-02-27 23:49] jotatoledo opened #287 "feat: add commitlint to git hooks"
Currently the only way to enforce commit format is through the use of `npm run commit`.
If devs for some reason dont use the mentioned script, faulty commits could slip into the git log.

To avoid this, [commitlint](https://github.com/marionebl/commitlint) could be added into the commit pipeline using husky to bind the `commit-msg` git hook to the lint script.

This way, even if devs do commits th

[2018-02-28 12:15] ttma1046 commented on #24
Hi!
Guess no one has time to decorate rxjs.component.html ?

[2018-03-01 13:30] jotatoledo commented on #287
Update:

just noticed that [validate-commit-msg](https://github.com/conventional-changelog-archived-repos/validate-commit-msg), which is a deprecated version of this, is already built. Maybe it would be reasonable to replace it.

[2018-03-01 14:37] #118 closed

[2018-03-01 16:53] saiprasad2595 commented on #259
Hey what is the quick outline at the right side.Can you elaborate in detail?

[2018-03-01 16:55] saiprasad2595 commented on #258
@ladyleet Should i take up this?

[2018-03-01 19:58] Jefiozie opened #293 "Update default angular favicon to rxjs favicon"
Great work on this new documentation site! Maybe we can update the favicon to the rxjs logo?

[2018-03-01 20:01] ladyleet commented on #293
@Jefiozie yeah go ahead!

[2018-03-02 16:19] claudiordgz commented on #24
Hi! I just got here, want to help in any coding way I can

[2018-03-04 20:53] cschomer commented on #4
Hi was just wondering if StackBlitz was in talks for being used and or perhaps dynamic marbles like below (granted the marbles need an auto expanding line and perhaps using svg or canvas might be better) or is there a site that already has this?
[SB Code and Demo](https://stackblitz.com/edit/typescript-6mg2tn)
[Interval Observable Example Site](https://typescript-6mg2tn.stackblitz.io)

[2018-03-04 23:38] ladyleet commented on #4
@cschomer yes on stackblitz!

[2018-03-05 19:16] Jefiozie commented on #293
This issue can be closed now @JWO719

[2018-03-05 21:09] ladyleet commented on #24
@claudiordgz 👍 feel free to start in the issues area!

[2018-03-07 15:32] EdisonSu768 commented on #24
Hi Rx 😊

[2018-03-07 17:13] ladyleet commented on #24
hi @EdisonSu768 looking forward to seeing your contributions!

[2018-03-08 03:58] #126 closed

[2018-03-08 04:40] #125 closed

[2018-03-08 06:24] #293 closed

[2018-03-08 19:07] #258 closed

[2018-03-11 14:39] saiprasad2595 commented on #52
@ladyleet How far we are on this?

[2018-03-11 15:01] saiprasad2595 commented on #93
@ashwin-sureshkumar Should i start this or else anyone already did?

[2018-03-12 22:12] ashwin-sureshkumar commented on #93
@saiprasad2595 - please go ahead

[2018-03-13 02:40] ladyleet commented on #52
@saiprasad2595 actually i doubt we are anywhere at all. :) so feel free to start from scratch and submit a PR!

[2018-03-14 21:46] #115 closed

[2018-03-17 14:26] saiprasad2595 opened #300 "UI is inconsistent for First"
UI is inconsistent under category "Filtering->First".
My suggestion is to keep no vertical scrolls and let the text flow down.

PFA

![inconsistent](https://user-images.githubusercontent.com/8768464/37556502-1b3d99fa-2a1d-11e8-9d34-fd138e545846.PNG)

[2018-03-18 10:46] SerkanSipahi commented on #24
Hi 😊

[2018-03-18 10:59] yashints commented on #24
Hello everyone, @ladyleet sent you an email :)

[2018-03-20 11:13] #277 closed

[2018-03-25 18:29] JWO719 commented on #257
Like in #304 we should add an introduction to the home page

[2018-03-25 18:29] #257 closed

[2018-03-25 18:30] JWO719 commented on #256
closed by #304

[2018-03-25 18:30] #256 closed

[2018-03-27 19:21] sarunint commented on #24
Hi!

[2018-03-28 11:20] alexandros-s commented on #24
Hullo! I have a few hours week to contribute. I think this is the right place to start. Any suggestions appreciated.

[2018-03-28 11:32] ashwin-sureshkumar commented on #24
Hi @alexandros-s, Welcome !! Please look through the issues and pick up any.

[2018-03-28 11:59] ladyleet commented on #24
welcome @alexandros-s!

[2018-03-28 13:34] alexandros-s commented on #13
Hi guys as my first task I'm going through the issues. oldest to newest and I'll try to clean up the list a bit. For this one, it mentions that it can be closed once #34 is merged.

#34 is merged.
Is there any outstanding work towards this feature?
Can we close it now?

@btroncone @xtianjohns @ladyleet

[2018-03-28 13:42] alexandros-s commented on #12
Since we merged #34 RxMarbles. Given that we are happy with #13

Do we really want to integrate RxViz?
Should we close it together with #13 if we are happy with it?

Cheers!

[2018-03-28 14:07] btroncone commented on #13
@alexandros-s There was actually an issue with RxMarbles integration I ran into when switching between operators so it was disabled as we were thinking about launching imminently. This may not be a problem now with the new navigation patterns but I have not had a chance to go back and look. It appears the code for the web component is just commented out right now.

https://github.com/ReactiveX/rxj

[2018-03-30 11:55] yashints commented on #260
@JWO719 should we close this?

[2018-03-30 18:55] JWO719 commented on #260
Yeah. Thanks for pointing that.

[2018-03-30 18:55] #260 closed

[2018-04-10 07:19] SangKa opened #307 "[WIP] i18n: Chinese translation (zh)"
The new RxJS Docs is almost  nearing completion and I'll work on the Chinese translation.

This issues is for tracing the progress.

- [x] set up  -> #308
- [ ] operators
  - [x] combination operators -> #310
  - [x] conditional operators -> #311
  - [ ] creation operators
  - [ ] error handling operators
  - [ ] filtering operators
  - [ ] multicasting operators
  - [ ] transformation operators

[2018-04-10 13:07] alexandros-s commented on #13
Thanks, @btroncone.  I'll try to have a look at it.

[2018-04-17 02:57] outofgamut commented on #24
Could help with some docs issues here and there. 👍

[2018-04-25 13:24] rayou opened #315 "Examples are not working due to RxJS bundle can't be found when using unpkg.com CDN."
**Expect:**
https://unpkg.com/rxjs/bundles/Rx.min.js can be found when using unpkg.com CDN.

**Actual:**
https://unpkg.com/rxjs/bundles/Rx.min.js can't be found.

**Cause**
The release of RxJS 6.0.0 changed the file name convention from `rxjs.min.js` to `rxjs.umd.min.js` in /bundles folder, this would cause issue if someone is using the same url for RxJS bundles.

![image](https://user-images.gith

[2018-04-28 03:15] cmckni3 commented on #24
Can help with docs as well 👍

[2018-04-30 02:08] ladyleet commented on #24
@outofgamut @cmckni3 happy to have you both! please let us know if you have any questions!

[2018-05-07 15:02] nairihar opened #325 "“Rx is not defined” in JS Bin Editor"
If you will try to run JS Bin examples, you will get a error “Rx is not defined”,
I think You forgotten add RxJS lib in JS Bin

<img width="885" alt="screen shot 2018-05-07 at 7 01 46 pm" src="https://user-images.githubusercontent.com/15065065/39708773-1e58d116-5229-11e8-9105-18925d5ef320.png">

[2018-05-08 18:41] akmittal opened #326 "Migrate to angular 6"
Migrate the docs to angular 6 for better performance and for latest and greatest features.
I will be creating a pull request soon.

[2018-05-12 06:29] joofjang commented on #24
Hi hope I can help with the doc.

[2018-05-23 04:21] jonahbron opened #329 "Inaccurate description of scan behavior in introduction"
In the Purity section of the Introduction, the last paragraph describes scan() working "just like reduce for arrays".

https://rxjs-dev.firebaseapp.com/guide/overview#purity

It is similar, but not identical, since scan still emits every cumulative value, while reduce does not.  I tried to search through the source code and the language files with which to make a PR, but I can't find where this te

[2018-06-02 11:53] moniuch commented on #24
Hi folks, happy to get myself involved with my first couple of PRs (updating jsdoc examples to the new syntax). Thanks @cartant for making this a soft-landing experience for me :)

[2018-06-02 12:04] moniuch opened #332 "Update marble images for tap and catchError"
`tap` and `catchError` operators jsdoc still refer to the old `do` and `catch` marble images.
https://rxjs-dev.firebaseapp.com/img/do.png
https://rxjs-dev.firebaseapp.com/img/catch.png

Not sure about how these images are generated. In case it is a manual process, then new images have to be created and made available with new file names.

Still fresh to this project, so might be missing a piece of

[2018-06-21 11:19] fetis opened #333 "2 doc sites"
Hello,

What's the relation between the site from this repo http://rxjsdocs.com and the once specified in an official rxjs repo rxjs-dev.firebaseapp.com ?

[2018-06-25 21:04] shaunlebron commented on #329
The introduction markdown file is in another repo, presumably linked to as a submodule under `rxjs-docs/` in this repo:

https://github.com/ReactiveX/rxjs/blob/master/doc/introduction.md#purity

I'm guessing we have to make PRs in that repo instead?

[2018-06-25 21:21] JWO719 commented on #329
Sorry for the confusion on that. We switched to the the real rxjs repo. If you need help with that, just ping me. Sorry for the confusion. This repository is just used to transfer the awesome content already made.

[2018-06-29 08:30] larssn commented on #24
Hello good people!

[2018-06-29 21:30] ladyleet commented on #24
Hi! :)

[2018-07-01 21:03] #287 closed

[2018-07-07 16:51] rarmatei commented on #85
I can pick this up if no one's started on it?

[2018-07-07 16:54] rarmatei commented on #72
I can try to work on this 👍

[2018-07-09 05:14] JWO719 commented on #72
@rarmatei Thanks for your support. But we have recently changed the repository to the rxjs repo https://github.com/ReactiveX/rxjs. I would really appreciate a pr on this, but please do it in that repository. If you have any questions on that, don't hesitate to ask me. Thank you

[2018-07-09 05:14] JWO719 commented on #85
@rarmatei Thanks for your support. But we have recently changed the repository to the rxjs repo https://github.com/ReactiveX/rxjs. I would really appreciate a pr on this, but please do it in that repository. If you have any questions on that, don't hesitate to ask me. Thank you

[2018-07-09 08:02] rarmatei commented on #85
@JWO719 Oh, I see, thanks for pointing that out!

I'm definitely missing something but I can't seem to find where the operator docs are under the repo you linked to?

I'll submit a PR to this repo today if that's okay, since I have some free time - and I can transfer it to  the new one later in the week?

[2018-07-09 12:08] rarmatei commented on #72
Thanks for pointing me to that repo - had no idea that was the case. Will try to submit a PR there directly.

[2018-07-18 10:51] SylwesterKogowski opened #334 "Cannot build the package"
Hi,
I just cloned the repository and tried to build the documentation, but to no avail.
Here is what I've done:
Since I have the newest version of node, npm and angular (and this package doesn't work with newest angular-cli) I first did: npm install
Here you can see the list of packages after installation:
[https://justpaste.it/6upjt](https://justpaste.it/6upjt)

then I did: npm run build
I got th

[2018-08-02 17:24] danwulff opened #335 "Consider deleting this repo, or updating the README to avoid confusion"
The docs have been migrated to the main repo: https://twitter.com/BenLesh/status/1024808680087121920

Can we consider deleting this repo, updating the README to point to the main repo or updating the repo description to avoid confusion (for people like me who come across this via google or other links).

[2018-08-02 17:29] JWO719 commented on #335
You definetly have some points here. The problem is that here in this repo the community created really awesome content and we want to migrate this content to the rxjs repo. After that is finished this repository will be removed and hopefully the confusion stops. I'm really sorry for this confusion

[2018-08-03 17:37] danwulff commented on #335
Thanks for the reply.

@JWO719 Is the rest of the migration going to take a significant amount of effort? Let me know if I can help in any way (although I'm guessing it's going to take some work by a main contributor with a better knowledge of what's going on). Perhaps a list of migration tasks would allow some community contributors to help with the effort.

[2018-08-23 14:44] rr20eid10 commented on #251
Where is this wizard?

[2018-08-23 14:49] rr20eid10 opened #336 "Where is the 'Find-the-Right-Operator Widget' a/o 8/23/2018?"
A/O 8/23/2018, I've seen this wizard hailed on youtube (i.e.: https://www.youtube.com/watch?v=ou3oRHaUpQA) and in stackoverflow, however, when I go to the RxJS site at http://reactivex.io/rxjs , I'm redirected to https://rxjs-dev.firebaseapp.com/ which is a BETA site.  i'm just learning this library while working on an existing application and after hearing so much about it I wanted to use it.

Wh

[2018-08-27 18:59] mtacchino commented on #335
Can we, at the very least, update the README? This must be confusing for a lot of people (including myself). I think this repo hurts more than it helps.

[2018-08-27 19:35] JWO719 commented on #336
Hi there, we are currently trying to develop this feature for the new docs and update it to the new operators. To be honest I have no clue where it used to be in the old docs.... sorry